.stm_featured_products_unit .stm_featured_product_single_unit {
  margin-bottom: 30px;
  position: relative;
  padding-top: 15px;
}

.stm_featured_products_unit .stm_featured_product_single_unit .stm_featured_product_single_unit_centered {
  position: relative;
  max-width: 270px;
  width: auto;
  margin: 0 auto;
  overflow: hidden;
}

.stm_featured_products_unit .stm_featured_product_single_unit .stm_featured_product_single_unit_centered .stm_featured_product_price .price {
  min-width: 76px;
  position: absolute;
  top: 13px;
  left: -4px;
  display: inline-block;
  padding: 11px 16px;
  color: #fff;
  text-align: center;
  line-height: 1;
  border-radius: 4px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  z-index: 11;
}

.stm_featured_products_unit .stm_featured_product_single_unit .stm_featured_product_single_unit_centered .stm_featured_product_price .price h5 {
  margin: 0;
  color: #fff;
}

.stm_featured_products_unit .stm_featured_product_single_unit .stm_featured_product_single_unit_centered .stm_featured_product_image {
  position: relative;
}

.stm_featured_products_unit .stm_featured_product_single_unit .stm_featured_product_single_unit_centered .stm_featured_product_image a {
  position: relative;
  display: block;
  z-index: 5;
}

.stm_featured_products_unit .stm_featured_product_single_unit .stm_featured_product_single_unit_centered .stm_featured_product_image img {
  padding-bottom: 0;
}

.stm_featured_products_unit .stm_featured_product_single_unit .stm_featured_product_single_unit_centered .stm_featured_product_body {
  min-height: 92px;
  padding: 14px 13px 7px;
  border: 1px solid #dcdcdc;
}

.stm_featured_products_unit .stm_featured_product_single_unit .stm_featured_product_single_unit_centered .stm_featured_product_body a {
  text-decoration: none!important;
}

.stm_featured_products_unit .stm_featured_product_single_unit .stm_featured_product_single_unit_centered .stm_featured_product_body a .title {
  max-width: 190px;
  margin-bottom: 6px;
  color: #333;
  font-size: 16px;
  line-height: 20px;
  border: 0!important;
}

.stm_featured_products_unit .stm_featured_product_single_unit .stm_featured_product_single_unit_centered .stm_featured_product_body a .title:hover {
  color: #48a7d4;
}

.stm_featured_products_unit .stm_featured_product_single_unit .stm_featured_product_single_unit_centered .stm_featured_product_body .expert {
  color: #aaa;
  font-size: 12px;
  font-weight: 400;
}

.stm_featured_products_unit .stm_featured_product_single_unit .stm_featured_product_single_unit_centered .stm_featured_product_footer {
  padding: 10px 13px 7px;
  border: 1px solid #dcdcdc;
  border-top: 0;
  font-weight: 400;
}

.stm_featured_products_unit .stm_featured_product_single_unit .stm_featured_product_single_unit_centered .stm_featured_product_footer .stm_featured_product_comments {
  display: inline-block;
  margin-right: 10px;
  vertical-align: top;
  color: #848484;
}

.stm_featured_products_unit .stm_featured_product_single_unit .stm_featured_product_single_unit_centered .stm_featured_product_footer .stm_featured_product_comments i {
  font-size: 12px;
  margin-right: 3px;
}

.stm_featured_products_unit .stm_featured_product_single_unit .stm_featured_product_single_unit_centered .stm_featured_product_footer .stm_featured_product_comments span {
  font-size: 13px;
}

.stm_featured_products_unit .stm_featured_product_single_unit .stm_featured_product_single_unit_centered .stm_featured_product_footer .stm_featured_product_stock {
  display: inline-block;
  vertical-align: top;
  color: #848484;
}

.stm_featured_products_unit .stm_featured_product_single_unit .stm_featured_product_single_unit_centered .stm_featured_product_footer .stm_featured_product_stock i {
  font-size: 12px;
  margin-right: 3px;
}

.stm_featured_products_unit .stm_featured_product_single_unit .stm_featured_product_single_unit_centered .stm_featured_product_footer .stm_featured_product_stock span {
  font-size: 13px;
}

.stm_featured_products_unit .stm_featured_product_single_unit .stm_featured_product_single_unit_centered .stm_featured_product_footer .stm_featured_product_show_more {
  position: absolute;
  bottom: -42px;
  left: 0;
  width: 100%;
  height: 42px;
}

.stm_featured_products_unit .stm_featured_product_single_unit .stm_featured_product_single_unit_centered .stm_featured_product_footer .stm_featured_product_show_more a {
  padding: 10px;
  width: 100%;
  height: 100%;
}

.stm_featured_products_unit .stm_featured_product_single_unit:hover .stm_featured_product_show_more {
  bottom: 0!important;
}

.featured_products_list .col-md-3:nth-child(4n+1),.featured_products_list .col-md-4:nth-child(3n+1),.featured_products_list .col-md-6:nth-child(2n+1) {
  clear: both;
}

.featured_products_carousel .owl-controls {
  position: relative;
  opacity: 1;
  visibility: visible;
}

.stm_featured_product_footer .price {
  display: none;
}
/*# sourceMappingURL=../sourcemap/style_1.css.map */
