@import "../../scss_components/base_variables";
@import "../../scss_components/mixins";

.stm_image_box {
    display: flex;
    align-items: flex-start;
    img {
        margin-right: 30px;
    }
    &__image {
        margin: 0 35px 0 0;
    }
    &__content {
        max-width: 430px;
        margin-bottom: 10px;
        font-size: 18px;
        line-height: 28px;
        h3 {
            margin: 0 0 20px;
            font-size: 28px;
            line-height: 36px;
        }
    }
    &__textarea {
        max-width: 380px;
        margin: 0 0 30px;
    }
}

@include breakpoint(tablet) {
    .stm_image_box {
        flex-wrap: wrap;
        &__image {
            width: 100%;
            margin: 0 0 30px;
        }
    }
}

@include breakpoint(tabletonly) {
    .stm_image_box {
        max-width: 600px;
        margin: 0 auto;
        justify-content: center;
        text-align: center;
        &__image {
            text-align: center;
        }
    }
}

@include breakpoint(mobile) {
    .stm_image_box {
        padding: 15px 15px 30px;
    }
}