@import "../../scss_components/base_variables";
@import "../../scss_components/mixins";

.stm_image_box.stm_image_box__style_3 {
    text-align: center;
    img {
        margin: 0 0 32px;
        border-radius: 50%;
    }
    h3 {
        margin: 0 0 24px;
        padding: 0 15px;
        font-size: 24px;
        line-height: 28px;
        font-weight: 700;
    }
    .stm_image_box__icon {
        position: absolute;
        bottom: 20px;
        right: 20px;
        width: 71px;
        height: 71px;
        line-height: 57px;
        font-size: 27px;
        border: 5px solid #fff;
        border-radius: 50%;
        color: #fff;
    }
    .stm_image_box__image {
        position: relative;
    }
    .stm_image_box__content {

    }
    .stm_image_box__textarea {
        margin: 0 0 20px;
        color: rgba(51,51,51,0.7);
        font-size: 14px;
        line-height: 24px;
    }
}
