@import "../../scss_components/base_variables";
@import "../../scss_components/mixins";

.stm_image_box {
    display: flex;
    padding: 56px 40px 71px;
    min-height: 378px;
    border: 1px solid #e0e0e0;
    align-items: flex-end;
    &__image {
        margin: 0 35px 0 0;
        min-height: 240px;
    }
    img {
        margin-right: 45px;
    }
    &__content {
        max-width: 430px;
        margin-bottom: 10px;
        font-size: 18px;
        line-height: 28px;
        h3 {
            margin: 0 0 20px;
            font-size: 36px;
            line-height: 36px;
        }
    }
    &__textarea {
        max-width: 380px;
        margin: 0 0 30px;
        font-weight: 300;
    }
    .btn {
        &:hover {
            background-color: #4ed7a8;
        }
    }
}

@media (max-width: 1370px) {
    .stm_image_box {
        align-items: center;
        img {
            //max-width: 45%;
        }
    }
}

@media (max-width: 1300px) {
    .stm_image_box {
        flex-wrap: wrap;
        img {
            margin: 0 0 30px;
        }
    }
}

@include breakpoint(tabletonly) {
    .stm_image_box {
        max-width: 600px;
        margin: 0 auto;
        justify-content: center;
        text-align: center;
        &__image {
            text-align: center;
        }
    }
}

@include breakpoint(992px) {
    .stm_image_box {
        img {
            margin-right: 30px;
        }
    }
}

@include breakpoint(mobile) {
    .stm_image_box {
        padding: 15px 15px 30px;
        img {
            margin: 30px auto;
        }
    }
}