.gallery_terms_list {
  text-align: right;
  list-style: none;
  padding: 0;
  margin: 4px 0 0;
}

.gallery_terms_list li {
  display: inline-block;
  margin-left: 37px;
}

.gallery_terms_list li a {
  color: #333;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 700;
  text-decoration: none;
}

.gallery_terms_list li:first-child {
  margin-left: 0;
}

.gallery_terms_list li.active a {
  color: #eab830;
}

.gallery_single_view {
  position: relative;
  text-align: center;
}

.gallery_single_view .gallery_img {
  position: relative;
  display: inline-block;
  vertical-align: top;
  max-width: 100%;
}

.gallery_single_view .gallery_img a {
  position: relative;
  display: block;
}

.gallery_single_view .gallery_img a:after {
  display: block;
  position: absolute;
  width: 84px;
  height: 84px;
  z-index: 10;
  content: '\f065';
  top: 50%;
  left: 50%;
  margin: -42px 0 0 -42px;
  background-color: #48a7d4;
  border-radius: 50%;
  font: normal normal normal 14px/1 FontAwesome;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transform: translate(0,0);
  transform: translate(0,0);
  text-align: center;
  line-height: 84px;
  font-size: 21px;
  color: #fff;
  opacity: 0;
}

.gallery_single_view .gallery_img a:before {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0,0,0,.33);
  z-index: 9;
  opacity: 0;
}

.gallery_single_view .gallery_img a:hover:after,.gallery_single_view .gallery_img a:hover:before {
  opacity: 1;
}
/*# sourceMappingURL=../sourcemap/style_1.css.map */
