/*
	Theme Name: Master Study Child
	Theme URI: http://stylemix.net
	Description: MasterStudy Child Theme
	Author: StylemixThemes
	Author URI: http://stylemix.net
	Template: masterstudy
	Version: 2.0
	License: GNU General Public License v2 or later
	License URI: http://www.gnu.org/licenses/gpl-2.0.html
	Tags: classes, courses, education, education center, learning center, tutoring, teaching, study, studying, learning, lessons, instructor, teacher, mentor
	Text Domain: masterstudy-child
*/

.row:before {
	display: initial !important;
}

.home #wrapper #main {
	padding-bottom: 0;
}

.woocommerce-variation .woocommerce-variation-custom_field {
	display: none !important;
}
.payment_method_paytabs label img {
	display: none !important;
}

.header_2 {
	border-bottom: 0.5px solid #E8E8E8;
}

.vc_general.vc_btn3.vc_btn3-style-outline-custom {
    padding-top: 9px !important;
    padding-bottom: 12px !important;
    padding-left: 22px !important;
    padding-right: 22px !important;
}

#lang_dropdown {
	color: #1A2A36;
	font-weight: 600;
}

.archive-course-title {
    padding-top: 35px !important;
}

#footer_top {
	padding: 0;
}

#footer_top .container {
	border-bottom: 1px solid #7D7D7D;
}

.footer_menu li a {
    text-transform: initial;
	font-size: 14px !important;
	font-weight: 600;
	line-height: 19px;
}

.footer_menu li a:hover {
    text-decoration: underline !important;
	color: #fff !important;
}

.footer_menu li.current-menu-item a {
	color: #fff;
}

.footer_menu .register-btn a {
	border-radius: 4px;
	background-color: #FFFFFF;
	font-size: 14px;
	font-weight: bold;
	line-height: 19px;
	padding: 9px 30px 12px;
	color: #1A2A36;
	border: 1px solid #fff;
}

.footer_menu .register-btn a:hover {
	background-color: transparent;
	color: #fff;
	text-decoration: none !important;
}

.footer_menu .sign-in-btn a {
	border-radius: 4px;
	background-color: transparent;
	font-size: 14px;
	font-weight: bold;
	line-height: 19px;
	padding: 9px 30px 12px;
	color: #fff;
	border: 1px solid #fff;
}

.footer_menu .sign-in-btn a:hover {
	background-color: #fff;
	color: #1A2A36 !important;
	text-decoration: none !important;
}

footer .container {
	max-width: 1200px !important;
}

.widget_contacts .widget_contacts_style_2 li.widget_contacts_email .text a,
.widget_contacts .widget_contacts_style_2 li.widget_contacts_phone .text {
    color: #fff !important ;
	font-weight: 600;
}

.textwidget {
	font-size: 14px;
}

.widget_socials a {
	background-color: transparent !important;
}

.socials_widget_wrapper .simple_flip_container, .socials_widget_wrapper .front, .socials_widget_wrapper .back {
    width: 55px;
    height: 55px;
}

.socials_widget_wrapper .widget_socials li a {
	font-size: 32px;
}

#footer_bottom {
    padding: 45px 0 25px;
    border: none !important;
}

.header_main_menu_wrapper .header-menu > li > a {
    text-transform: none;
	font-weight: 600 !important;
	color: #1A2A36 !important;
}

.header_main_menu_wrapper .header-menu > li > a:hover {
    color: #1A2A36 !important;
	text-decoration: underline !important;
}

.stm_lms_log_in {
    font-size: 14px;
    line-height: 19px;
    padding: 10px 30px 10px 30px;
    background: #5a117a;
    border-radius: 21px;
    color: #fff;
	border:2px solid #5a117a;
}

.stm_lms_log_in:visited  {
	color: #fff !important;
}

.stm_lms_log_in:hover {
	color: #5a117a !important;
	background: #fff;
	border:2px solid #5a117a;
}


.right-unit .btn {
	color: #FFFFFF;
	font-size: 14px;
	font-weight: bold;
	line-height: 19px;
	padding: 9px 30px 12px;
	border: 1px solid #5a117a !important;
	background-color: #5a117a !important;
	border-radius: 4px;
}

.right-unit .btn:hover {
	color: #5a117a;
	background-color: #fff !important;
}

.stm_lms_wishlist_button a {
	color: #EC5152;
}

.header_2 .header_top .center-unit {
    padding: 0;
}

.cart-contents:before {
    font-family: 'Linearicons-Free' !important;
	font-weight: 300 !important;
    content: "\e82e";
    font-size: 16px;
    margin-top: 10px;
    font-style: normal;
    padding-right:5px;
    vertical-align: bottom;
}

.cart-contents:hover {
    text-decoration: none;
}

.cart-contents-count,
.wishlist-count {
    color: #fff;
	background-color: #5a117a;
	font-weight: bold;
	border-radius: 20px;
	padding: 2px 5px;
	line-height: 1;
	vertical-align: top;
	margin-left: -10px;
	font-size: 10px;
	width: 18px;
	height: 18px;
}

.cart-contents,
.stm_lms_log_in {
	margin-left: 50px !important;
}

.udemy .stm_lms_recent_courses__term {
    font-size: 14px;
    color: #1A2A36;
	font-weight: 600;
	line-height: 19px;
	padding-left: 0;
	padding-right: 0;
	margin: 0 20px;
}

.udemy .stm_lms_recent_courses__term.active {
    color: #5a117a !important;
    background-color: transparent !important;
	box-sizing: border-box;
	border-bottom: 2px solid #5a117a;
	border-radius: 0;
}

.stm_lms_courses__single--price strong {
    font-size: 16px;
    color: #5a117a;
	line-height: 22px;
}

body.skin_custom_color.udemy .btn-default,
#yith-wacp-popup .yith-wacp-content a.button {
	border-radius: 4px;
	background-color: #5a117a !important;
	border: 1px solid #5a117a;
	text-transform: none !important;
}

body.skin_custom_color.udemy .btn-default:hover,
#yith-wacp-popup .yith-wacp-content a.button:hover {
	background-color: #fff !important;
	color: #fff !important;
}

.testinomials_image {
	float: left;
}

.owl-carousel .owl-item .testinomials_image img {
	width: 60px;
	border-radius: 50px;
	margin-right: 18px;
}

.navs {
    max-width: 100% !important;
	padding: 0 !important;
}

.navs .simple_carousel_prev {
    left: -50px !important;
}

.navs .simple_carousel_next {
    right: -50px !important;
}

.stm_testimonials_wrapper_style_3 .stm_testimonials_single .stars,
.stm_testimonials_wrapper_style_3 .stm_testimonials_single .testimonials_title,
.stm_testimonials_wrapper_style_3 .stm_testimonials_single .testimonials_excerpt {
	text-align: left;
}

.stm_testimonials_wrapper_style_3 .stm_testimonials_single {
	padding: 40px;
	background-color: #fff;
	border: 1px solid #E5E5E5;
	border-radius: 4px;
	box-shadow: 0 1px 11px 2;
	margin: 0 10px;
}

.navs i {
	color: #5a117a;
}

.stm_testimonials_wrapper_style_3 .stm_testimonials_single .testimonials_title {
	color: #3C4F5E;
	font-size: 18px !important;
	line-height: 30px;
	font-weight: normal;
}

.stm_testimonials_wrapper_style_3 .stm_testimonials_single .testimonials_excerpt {
   	color: #353535;
	font-size: 16px !important;
	font-weight: 300;
	line-height: 20px !important;
}

.stm_lms_post_status {
	left: 0;
	right: auto !important;
	top: 20px !important;
	padding: 3px 20px;
	border-radius: 0;
	font-size: 18px;
	font-weight: bold;
	line-height: 24px;
	padding: 5px !important;
	font-size: 22px !important;
	margin-top: 15px;
	border-radius: 0 !important;
}

.stm_lms_udemy_course {
    background-color: #fff !important;
}

.stm_lms_course_objectives {
	background-color: #F9F9F9 !important;
	border: 1px solid #E5E5E5 !important;
}

.stm_lms_udemy_course .stm_lms_udemy_bar {
    padding: 60px 0 !important;
}

.stm_lms_udemy_course .stm-lms-course__sidebar {
	margin: 60px 0 0 !important;
}

.stm_lms_udemy_course .stm_lms_udemy_bar .stm_lms_course__title {
	font-size: 38px !important;
	font-weight: 600;
	letter-spacing: 0.53px;
	line-height: 52px !important;
}

.stm_lms_udemy_course .stm_lms_udemy_bar .stm_lms_udemy_headline {
	color: #FFFFFF !important;
	font-size: 20px !important;
	letter-spacing: 0.22px;
	line-height: 27px !important;
	opacity: 1 !important;
	margin: 0 0 12px !important;
}
.stm_lms_udemy_course .stm_lms_course_objectives__single {
    padding: 0 25px !important;
    margin: 0 0 10px !important;
	color: #9D9D9C;
	font-size: 14px !important;
	letter-spacing: 0.16px;
	line-height: 30px;
}

.stm_lms_udemy_course .stm_lms_course_objectives__single_text {
	padding-left: 25px !important;
}

.stm_lms_udemy_course .stm_lms_course_objectives__single_text i {
	color: #9D9D9C !important;
	top: 6px !important;
	font-size: 18px !important;
}

.stm_lms_course_objectives h3 {
	color: #1A2A36;
	font-size: 20px;
	font-weight: 600;
	letter-spacing: 0.22px;
	line-height: 27px;
}

.stm_lms_udemy_course .stm_lms_udemy_includes h4 {
	text-transform: none !important;
	font-size: 20px !important;
	line-height: 27px !important;
	font-weight: bold !important;
	margin: 35px 0 20px !important;
}

.stm_lms_udemy_course .stm_lms_udemy_includes .stm_lms_udemy_include {
    padding: 5px 0 0 30px !important;
    margin: 0 0 10px !important;
	color: #1A2A36;
	font-size: 14px !important;
	font-weight: 600;
	line-height: 19px;
}

.stm_lms_udemy_course .stm_lms_udemy_includes .stm_lms_udemy_include i {
    top: 5px !important;
    left: 0;
    font-size: 18px !important;
    margin-right: 15px !important;
    color: #9D9D9C !important;
}

.stm_lms_udemy_course .stm_lms_udemy_bar .stm-lms-wishlist i,
.stm_lms_udemy_course .stm_lms_udemy_bar .stm-lms-wishlist span {
    border: none !important;
    color: #fff !important;
}

.stm_lms_udemy_course .stm_lms_udemy_bar .stm-lms-wishlist:hover i {
    background: transparent !important;
}

.woocommerce-page .stm_price_label,
.woocommerce-page .quantity {
	display: none !important;
}

body.skin_custom_color .button.single_add_to_cart_button,
body.skin_custom_color .button.product_type_variable,
.button.product_type_simple.add_to_cart_button,
.button.product_type_external.add_to_cart_button,
.button.product_type_variable-subscription
{
	border-radius: 4px !important;
	background-color: #5a117a !important;
	border: 1px solid #5a117a;
	height: 50px;
	color: #fff !important;
	text-transform: none !important;
	font-size: 14px;
	max-width: 80%;
	width: 80%;
}

body.skin_custom_color .button.single_add_to_cart_button:hover,
.button.product_type_simple.add_to_cart_button:hover {
	background-color: #fff !important;
	color: #5a117a !important;
	height: 50px !important;
}

.woocommerce-page del .amount.woocommerce-Price-amount {
	float: right;
	font-weight: 600;
	color: #8E9294;
	font-size: 16px;
	line-height: 22px;
	text-decoration: line-through;
}

.stm_product_sidebar_meta_units {
	margin-top: 35px;
}

.stm_product_sidebar_meta_units h3 {
	color: #1A2A36 !important;
	font-size: 20px !important;
	line-height: 27px !important;
}

.stm_product_sidebar_meta_units .stm_product_sidebar_meta_unit table td.icon {
	width: 120px !important;
	color: #9D9D9C !important;
	font-size: 14px !important;
	line-height: 19px !important;
}

.stm_product_sidebar_meta_units .stm_product_sidebar_meta_unit table td.value {
	color: #1A2A36;
	font-weight: 600;
}

.stm_product_sidebar_meta_units .stm_product_sidebar_meta_unit table td {
    border-bottom: none !important;
    padding: 0 !important;
}

.stm_product_sidebar_meta_units .stm_product_sidebar_meta_unit table {
	margin-bottom: 10px !important;
}

.stm_product_sidebar_gain_access {
	margin-top: 20px;
}

.stm_product_sidebar_gain_access h4,
.stm_product_sidebar_gain_access ul {
	color: #1A2A36;
	font-size: 14px;
	line-height: 30px;
}

.stm_product_sidebar_gain_access ul {
	color: #8E9294;
	list-style: none;
	padding: 0;
}

.stm_product_sidebar_gain_access ul li {
	margin: 0;
}

.single-product .icon_text p {
	margin-bottom: 0 !important;
}

.single-product .stm-lms-wrapper {
    padding: 0 0 30px !important;
}

.stm_featured_product_footer .price {
	display: block !important;
}

.stm_archive_product_inner_unit .stm_archive_product_inner_unit_centered .stm_featured_product_body,
.stm_archive_product_inner_unit .stm_archive_product_inner_unit_centered .stm_featured_product_footer {
	border-color: #E5E5E5 !important;
}

.stm_archive_product_inner_unit .stm_archive_product_inner_unit_centered {
	box-shadow: 0 1px 11px 2px rgba(0,0,0,0.07);
}

.stm_featured_product_body .meta_values .h6 {
	color: #8E9294;
	font-size: 14px;
	font-weight: 600;
	line-height: 19px;
}

.stm_archive_product_inner_unit .stm_archive_product_inner_unit_centered .stm_featured_product_body a .title {
	color: #222222;
	font-size: 16px;
	letter-spacing: 0.5px;
	line-height: 22px;
}

.stm_archive_product_inner_unit .stm_archive_product_inner_unit_centered .stm_featured_product_footer .price {
	margin-bottom: 0;
}

.stm_archive_product_inner_unit .stm_archive_product_inner_unit_centered {
	max-width: 100%;
}

.stm_archive_product_inner_unit .stm_archive_product_inner_unit_centered .stm_featured_product_footer .price del {
	display: block;
}

.stm_archive_product_inner_unit .stm_archive_product_inner_unit_centered .stm_featured_product_footer .price del .amount {
	color: #8E9294;
	font-size: 12px;
	font-weight: 600;
	letter-spacing: 0.55px;
	line-height: 17px;
}

.stm_archive_product_inner_unit .stm_archive_product_inner_unit_centered .stm_featured_product_footer .price ins .amount {
	color: #5a117a !important;
	font-size: 16px !important;
	font-weight: bold !important;
	line-height: 22px !important;
}

.stm_archive_product_inner_unit .stm_archive_product_inner_unit_centered .stm_featured_product_footer .star-rating {
	margin-top: 10px;
}

ul#product_categories_filter {
	text-align: center;
}

ul#product_categories_filter li {
	display: inline;
	padding: 20px;
}

ul#product_categories_filter li a {
	color: #1A2A36;
	font-size: 14px;
	font-weight: 600;
	line-height: 32px;
}

ul#product_categories_filter li a:hover,
ul#product_categories_filter li a.active {
	color: #5a117a;
	padding-bottom: 8px;
	border-bottom: 2px solid #5a117a;
}

.stm_woo_helpbar {
    padding: 0;
    background-color: transparent;
}

.archive-course-title {
    text-transform: none;
    text-align: center;
	font-size: 26px;
	font-weight: bold;
	line-height: 36px;
}

#yith-wacp-popup .yith-wacp-close {
    position: absolute;
    top: 20px;
    right: 20px;
    text-align: center;
    font-size: 21px;
}

.yith-wacp-content .info-box,
.yith-wacp-content .yith-wacp-related li.product.yith-wacp-related-product .product-image .onsale{
    display: none;
}

#yith-wacp-popup .yith-wacp-main {
    padding: 60px 0 35px;
}

#yith-wacp-popup .yith-wacp-content {
    padding: 0 58px;
}

#yith-wacp-popup .yith-wacp-message span.lnr {
	float: left;
	margin-right: 5px;
}

.yith-wacp-content .yith-wacp-related h3 {
	color: #1A2A36;
	font-size: 20px;
	letter-spacing: 0.22px;
	line-height: 27px;
	text-align: left;
	text-transform: none;
	font-weight: normal;
}

.yith-wacp-content .yith-wacp-related li.product.yith-wacp-related-product h3 {
	color: #222222;
	font-size: 11.2px;
	letter-spacing: 0.35px;
	line-height: 15px;
}

#yith-wacp-popup.open .yith-wacp-wrapper .btn {
	background-color: #1A2A36 !important;
	border-color: #1A2A36 !important;
}

#yith-wacp-popup.open .yith-wacp-wrapper .btn:hover {
	background-color: #fff !important;
}

.stm_lms_courses__single--info .stm-lms-wishlist i {
    border: none !important;
    color: #5a117a !important;
}

.stm_lms_courses__single--info .stm-lms-wishlist i:hover {
    background-color: transparent !important;
    color: #5a117a !important;
}

.stm_lms_breadcrumbs__header_2 .stm_breadcrumbs_unit {
    padding: 0 !important;
    background-color: transparent !important;
	border: none !important;
}

.stm_breadcrumbs_unit .navxtBreads > span a:hover {
	color: #aca5b0 !important;
}

.stm_breadcrumbs_unit .navxtBreads > span a{
	text-decoration: underline !important;
}

.stm_breadcrumbs_unit .navxtBreads > span a,
.stm_breadcrumbs_unit .navxtBreads > span,
.stm_breadcrumbs_unit .navxtBreads {
	color: #aca5b0;
	font-size: 16px;
	font-weight: 400;
}

.stm_lms_breadcrumbs__header_2 .stm_breadcrumbs_unit {
	margin-bottom: 0;
}

.entry-header {
    padding: 38px 0;
	background-color: #f2f3f7;
}

.entry-header .entry-title h1 {
	letter-spacing: 0.4px;
	line-height: 39px;
	text-align: left;
	text-transform: none;
	margin: 0;
	font-weight: 700;
	color: #342e38;
	font-size: 48px;
}

.shop_table > tbody > tr td.product-name a,
.woocommerce-checkout-review-order-table td.product-name {
	color: #1A2A36 !important;
	font-size: 16px !important;
	font-weight: 600;
	letter-spacing: 0.17px !important;
}

.shop_table > tbody > tr td.product-name .woocommerce-Price-amount {
	display: block;
	color: #5a117a;
	font-size: 20px;
	font-weight: 600;
	line-height: 27px;
}

.mini-product-price .woocommerce-Price-amount {
	color: #5a117a;
	font-size: 20px;
	font-weight: 600;
	line-height: 27px;
	clear: left;
}

.shop_table {
	border: 1px solid #E5E5E5;
	background-color: #FFFFFF;
	box-shadow: 0 1px 11px 2px rgba(0,0,0,0.07);
}

.shop_table > tbody > tr td {
    padding: 10px;
}

.shop_table > tbody > tr td.product-remove a {
	color: #5a117a !important;
	font-size: 14px;
	line-height: 19px;
	text-align: right;
	text-decoration: underline !important;
}

.woocommerce .cart-totals_wrap {
    border: none;
    padding: 0;
}

.woocommerce .cart-totals_wrap tr.order-total th {
	display: none;
}

.woocommerce .cart-totals_wrap tr.order-total td {
	padding: 0;
}

.woocommerce .cart-totals_wrap tr.order-total td .woocommerce-Price-amount {
	color: #1A2A36;
	font-size: 33px;
	font-weight: bold;
	line-height: 45px;
}

.page-id-625 .woocommerce,
.page-id-626 .woocommerce {
	padding-top: 55px;
}

.cart_totals .table {
    margin-bottom: 0;
}

.cart_totals .mg-bt-20 {
    margin-bottom: 0;
	color: #1A2A36;
	font-size: 16px;
	font-weight: 600;
	letter-spacing: 0.73px;
	line-height: 22px;
}

.coupon {
	display: inline-flex;
}

#coupon_code {
	border: 1px solid #8E9294;
	border-radius: 4px;
	background: #fff;
	border-top-right-radius: 0 !important;
	border-bottom-right-radius: 0 !important;
}

body.skin_custom_color.udemy .coupon .btn-default {
	background-color: #8E9294 !important;
	padding-left: 15px;
	padding-right: 15px;
	font-size: 16px;
	border-top-left-radius: 0 !important;
	border-bottom-left-radius: 0 !important;
	border-color: #8E9294 !important;
	max-width: 150px !important;
}

.wc-proceed-to-checkout .btn {
	width: 100% !important;
	margin-bottom: 30px;
}

#order_review_heading,
#payment_heading {
	color: #1A2A36;
	font-size: 20px;
	font-weight: 600;
	letter-spacing: 0.22px;
	line-height: 27px;
}

.woocommerce-checkout-review-order-table {
   	border-top: 1px solid #979797;
    background-color: #FFFFFF !important;
    box-shadow: none !important;
}

.woocommerce-checkout-review-order-table td {
	background: white;
	padding: 15px 0 !important;
}

.woocommerce-checkout-review-order-table .cart_item {
	border-bottom: 1px solid #979797;
}

.woocommerce-checkout-review-order-table .cart_item:last-of-type {
	border-bottom: none;
}

.checkout-total h3,
#billing_country_field label span{
	color: #1A2A36;
	font-size: 16px;
	font-weight: 600;
	letter-spacing: 0.73px;
	line-height: 22px;
}

#billing_country_field label span {
	line-height: 2.5;
}


.checkout-total h3 strong {
	color: #1A2A36;
	font-size: 33px;
	font-weight: bold;
	line-height: 45px;
}

.woocommerce-billing-fields {

}

#customer_details {
	margin-top: 30px;
}

.woocommerce-input-wrapper input {
	border: 1px solid #E5E5E5;
	background-color: #FFFFFF;
	box-shadow: 0 1px 11px 2px rgba(0,0,0,0.07);
}

#for_yourself {
	color: #1A2A36;
	font-size: 14px;
	letter-spacing: 0.64px;
	line-height: 19px;
	clear: both;
}

#for_yourself p{
	margin-bottom: 15px;
}

#for_yourself input[type="radio"]{
	width: 20px;
}

#for_yourself input[type="radio"]:last-of-type {
	margin-left: 50px;
}

.post-type-archive-product #main .container {
    max-width: 1700px !important;
}

#for_yourself_field {
	color: #8E9294;
	font-size: 14px;
	letter-spacing: 0.64px;
	line-height: 19px;
}

.woocommerce-additional-fields h3 {
	display: none;
}

.wc_payment_method {
	padding: 20px;
	border: 1px solid #E5E5E5;
	background-color: #FFFFFF;
	box-shadow: 0 1px 11px 2px rgba(0,0,0,0.07);
	border-radius: 5px;
	text-align: center;
}
.wc_payment_method img{
	display:block;
	margin: 0 auto !important;
	margin-bottom:1em !important;
}

.mini-cart,
.wishlist_list {
	display: none;
	background: white;
	width: 350px;
	padding: 20px;
	position: absolute;
	left: -300px;
	box-shadow: 0 10px 30px 11px rgba(0,0,0,.25);
	top: 30px;
	z-index: 99999;
}

.mini-cart {
	padding: 0;
}

.mini-cart ul.cart_list {
	padding: 15px 15px 0 !important;
}

.header_2 .header_top .stm_lms_wishlist_button i {
    font-size: 18px;
}

.home .entry-header {
	display: none !important;
}

.mini-cart:before,
.wishlist_list:before {
    content: '';
    position: absolute;
    right: 20px;
    top: -17px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 15px 17px 15px;
    border-color: transparent transparent #fff transparent;
}

.mini-cart .btn,
.wishlist_list .btn {
	width: 100%;
}

.mini-cart .buttons,
.wishlist_list .buttons {
	margin-bottom: 0 !important;
	padding: 15px !important;
}

.mini-cart .buttons {
	background-color: rgb(242, 243, 245);
}

.mini-cart ul {
	list-style: none;
	padding: 0;
}

.mini-cart ul li a,
.wishlist_list ul li a {
	color: #1A2A36;
	font-size: 14px;
	font-weight: 600;
	line-height: 19px;
	display: block;
	clear: right;
}

.mini-cart tr {
	border: none;
}

.mini-cart ul li a:hover,
.wishlist_list ul li a:hover {
	color: #5a117a !important;
}


.mini-cart li.empty,
.wishlist_list li.empty {
	color: #1A2A36;
	font-size: 14px;
	font-weight: 600;
	line-height: 19px;
	text-align: center;
	padding: 5px 0;
	list-style: none;
}

.mini-cart li.empty a,
.wishlist_list li.empty a {
	color: #5a117a;
}

.cart-contents,
.stm_lms_wishlist_button {
	position: relative;
}

.cart-contents:hover .mini-cart,
.stm_lms_wishlist_button:hover .wishlist_list {
	display: block;
}

.buy-now {
	border: 1px solid #5a117a !important;
	background-color: #fff !important;
	color: #5a117a !important;
	margin-top: 10px;
	width: 100%;
	font-size: 14px !important;
	font-weight: bold;
	line-height: 19px !important;
	text-align: center;
	padding: 12.5px 15px !important;
	height: 50px;
}

.buy-now:hover {
	background: #5a117a !important;
	color: #fff !important;
}

.multiseparator.grid {
	display: none;
}

.yith-wacp-content .yith-wacp-related {
	overflow: auto;
	border: 1px solid #E5E5E5;
	background-color: #FFFFFF;
	box-shadow: 0 1px 11px 2px rgba(0,0,0,0.07);
	padding: 20px;
}

.yith-wacp-content .yith-wacp-message span {
    line-height: 40px;
}

.total-regular,
.discount-percent {
	padding: 0 !important;
}

.total-regular .amount,
.discount-percent,
.cart-discount .amount {
	color: #8E9294;
	font-size: 16px;
	font-weight: 600;
	letter-spacing: 0.73px;
	line-height: 22px;
}

.total-regular .amount,
.cart-discount .amount {
	text-decoration: line-through;
}

body.skin_custom_color .button.single_add_to_cart_button.loading {
	min-height: 50px !important;
}

body.skin_custom_color .button.single_add_to_cart_button.loading:before {
    top: 10px !important;
}

.woocommerce-order .multiseparator.grid {
    display: block;
}

.woocommerce-order .multiseparator.grid {
    margin: 20px 0 40px;
}

.woocommerce-order div.multiseparator:before {
    width: 100%;
    left: 0;
}

.woocommerce-order div.multiseparator:after {
    content: none;
}

.woocommerce .shop_table.order_details {
	width: 100%;
}

.woocommerce-order-head,
.woocommerce-order-head li a,
.woocommerce-order-overview,
.woocommerce-customer-details,
.woocommerce-order-details p {
	color: #1A2A36;
	font-size: 14px !important;
	line-height: 20px !important;
}

.woocommerce .shop_table.order_details > tbody > tr:nth-of-type(2n+1) {
	background: #fff !important;
}

.woocommerce .shop_table.order_details,
.congrats-notice {
	border: none !important;
	box-shadow: none !important;
	color: #1A2A36;
	font-size: 14px;
	line-height: 20px;
}

.woocommerce .shop_table.order_details tr  {
	border-top: 1px solid #E5E5E5 !important;
}

.woocommerce-order-details p {
	margin-bottom: 0 !important;
}

.woocommerce .shop_table.order_details tr:last-of-type  {
	border-bottom: 1px solid #E5E5E5 !important;
}

.woocommerce-thankyou-order-received {
	font-size: 24px;
}

.woocommerce-order-head li:first-of-type {
	font-size: 24px !important;
}

.woocommerce-order-head li a,
.woocommerce-order-details p a,
.congrats-notice a {
	color: #5a117a !important;
	font-size: 14px;
}

.right-unit .sign-in {
	position: relative;
}

.right-unit .sign-in:hover ul {
	display: block;
}

.right-unit .sign-in ul {
	display: none;
	position: absolute;
	width: 200px;
	background: black;
	top: 33px;
	padding: 15px;
	box-shadow: 0 10px 30px 11px rgba(0,0,0,.25);
	border-radius: 4px;
	text-align: right;
}

.right-unit .sign-in ul li a {
	color: white;
	font-weight: 600;
}

.right-unit .sign-in ul li a:hover {
	color: #5a117a;
}

.right-unit .sign-in ul:before {
   	content: '';
	position: absolute;
	right: 25px;
	top: -10px;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 0 8px 10px 8px;
	border-color: transparent transparent #000 transparent;
}

.stm_lms_courses__single--info .quantity {
	display: none !important;
}

.stm_lms_courses__single--info form {
	width: 100% !important;
}

.stm_archive_product_inner_unit .stm_archive_product_inner_unit_centered .stm_featured_product_body a .title {
    max-width: 100% !important;
}

.shop_table .quantity,
.mini-cart .product_list_widget li span.quantity {
    display: block !important;
}

.shop_table .quantity .amount {
    display: inline-block !important;
}

.woocommerce-SavedPaymentMethods-saveNew  {
	display: none !important;
}

.ibo-box,
.privacy-box,
.return-box {
	clear: both;
	margin-left: 20px;
}

#ibo_checkbox_field,
#privacy_checkbox_field,
#return_checkbox_field {
	float: left;
}

#ibo_checkbox,
#privacy_checkbox,
#return_checkbox {
	margin-top: 0;
}

.ibo-box p:nth-of-type(2),
.privacy-box p:nth-of-type(2),
.return-box p:nth-of-type(2) {
	font-size: 12px !important;
	margin: 0;
	padding: 5px 0;
}


.ibo-box p,
.privacy-box p,
.return-box p {
	margin: 0 !important;
}

.ibo-box .optional,
.privacy-box .required,
.return-box .required {
	display: none !important;
}

/*.woocommerce-variation-availability .in-stock,*/
/*.price.heading_font {*/
/*    display: none;*/
/*}*/

.success-notice-1 {
	background: #e5fdf5;
	padding: 20px;
	margin-bottom: 25px;
}

.success-notice-1 p {
	margin-bottom: 0;
}

.congrats-notice {
	border: 1px solid #E5E5E5;
	background-color: #F9F9F9;
	padding: 20px;
	margin-bottom: 50px;
}

table.order-success {
	background-color: #1A2A36;
	border: none;
	color: white;
}

table.order-success h4 {
	font-size: 24px;
	font-weight: 600;
	letter-spacing: 0.33px;
	line-height: 33px;
	color: white;
}

table.order-success td {
	padding: 15px;
}

table.order-success p.notify {
	font-size: 12px;
	font-weight: 600;
	letter-spacing: 0.13px;
	line-height: 17px;
	color: #01F1A2;
}

#view-invoice {
	margin-left: 20px;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
	background: #5a117a;
	color: white;
	font-weight: 600;
	border-radius: 4px;
	height: 50px;
}

.select2-container .select2-choice .select2-arrow b::after, .select2-container .select2-choice .select2-selection__arrow b::after, .select2-container--default .select2-selection--single .select2-arrow b::after, .select2-container--default .select2-selection--single .select2-selection__arrow b::after {
    border-right: 2px solid #fff;
    border-bottom: 2px solid #fff;
}

.woocommerce-input-wrapper input[type="checkbox"] {
	border: 1px solid #E5E5E5 !important;
	background-color: #FFFFFF !important;
	box-shadow: 0 1px 11px 2px rgba(0,0,0,0.07) !important;
	width: 13px !important;
    -webkit-appearance: checkbox !important;
}

.checkout.woocommerce-checkout .woocommerce-NoticeGroup {
  z-index: 1000 !important;
}
.checkout.woocommerce-checkout.processing .woocommerce-NoticeGroup {
  background-image:url('/wp-content/themes/masterstudy-child/assets/images/please-wait.gif') !important;
  width: 100% !important;
  height: 100% !important;
  display: block !important;
  position: absolute !important;
  top: 0 !important;
  left: 0 !important;
}
.checkout.woocommerce-checkout.processing .woocommerce-NoticeGroup ul {
  display: none !important;
}

.processing .blockOverlay {
    background-image:url('/wp-content/themes/masterstudy-child/assets/images/please-wait.gif') !important;
    background-position: center 30% !important;
    background-repeat: no-repeat !important;
}

.invoice-2 {
	max-width: 800px;
	margin: 0 auto;
}

#wc-stripe-payment-request-wrapper {
	padding-top: 0 !important;
}

.woocommerce-currency-selector + .select2-container {
	margin-top: 25px;
}

.woocommerce-checkout-review-order-table .product-image {
	width: 20%;
}

.woocommerce-checkout-review-order-table .fee th {
	width: 50%;
}

@media (min-width: 1500px) {
	.container {
		max-width: 1250px !important;
	}
}

@media (min-width: 1200px) {
	#billing_first_name,
	#billing_last_name,
	#billing_email,
	div#user_id,
	div#user_name,
	#billing_address_1_field,
	#billing_address_2_field,
	#billing_city_field,
	#billing_state_field,
	#billing_postcode_field {
		width: 48%;
		float: left;
		margin-bottom: 20px;
	}

	#billing_middle_name_field {
		width: 48%;
		float: right !important;
		margin-bottom: 20px;
	}

	#billing_address_2_field  .screen-reader-text{
		position: static !important;
		height: auto !important;
		width: auto !important;
		overflow: hidden;
	}

	#billing_first_name,
	#billing_last_name {
		margin-bottom: 0;
		width: 100%
	}

	#billing_last_name_field {
		float: left !important;
		width: 100% !important;
	}

	#billing_email {
		clear: both;
	}

	#billing_first_name,
	div#user_id,
	#billing_address_1_field,
	#billing_city_field {
		margin-right: 6%;
	}

	.header_2 .container {
		max-width: 1200px !important;
	}

	.header_2 .container .col-md-12 {
		padding: 0 !important;
	}

	#footer_bottom .container {
		padding: 0;
	}

	#footer_top .col-md-6 {
		padding: 0;
	}
}

.visible-on-phone {
	display: none;
}

@media (max-width: 991px) {
	.header_top_bar .language-switcher-unit {
		display: block !important;
	}

	.stm_header_top_toggler,
	.stm_header_top_search,
	#footer_top {
		display: none;
	}

	.header_2 .header_top .center-unit {
		display: block !important;
	}

	.woocommerce-cart-form .col-xs-12 {
		z-index: 99999;
	}
}

@media (max-width: 769px) {
	.header_2 .header_top .center-unit,
	.header_2 .header_top .right-unit {
		display: block !important;
	}

	.header_2 .header_top .right-unit .sign-in,
	.header_2 .header_top .right-unit > a.btn,
	.header_2 .header_top .stm_lms_wishlist_button {
		display: none !important;
	}

	.header_2 .stm_menu_toggler::before {
		content: none;
	}

	.header_2 .header_top .logo-unit,
	.header_2 .header_top .center-unit {
		flex: 1 1 0;
	}

	.header_2 .header_top .center-unit {
		order: 1;
	}

	.header_2 .header_top .logo-unit {
		order: 2;
	}

	.header_2 .header_top .right-unit {
		order: 3;
	}

	.visible-on-phone {
		display: block;
	}

	.hidden-on-phone {
		display: none;
	}

	.owl-dots {
		margin: 0 9px 32px;
		text-align: center;
	}

	.visible-on-phone.stm_lms_course__image {
		padding: 0 30px;
		margin-bottom: 20px;
	}

	.stm_lms_udemy_course .stm_lms_udemy_bar {
		padding: 30px 0 60px !important;
	}

	.stm_lms_udemy_course .stm-lms-course__sidebar {
		background: #f9f9f9;
		margin: 30px 0 0 !important;
	}

	.stm_product_meta_single_page {
		padding-bottom: 30px;
		border-bottom: none;
	}

	.stm_lms_course__content div.vc_row:first-of-type {
		margin: 0 !important;
	}

	.vc_custom_1550614823926 .vc_col-sm-6:nth-of-type(2) .vc_column-inner {
		padding-top: 0 !important;
	}

	.vc_custom_1550749647550 {
		margin-top: 0 !important;
	}

	.vc_custom_1550749647550 h2 {
		font-size: 24px !important;
	}

	.vc_custom_1550748740465 h2 {
		font-size: 20px !important;
	}

	.vc_empty_space.aa835752d23cac3dd8a043eab60560edc {
		height: 0 !important;
	}

	.stm_lms_udemy_course .stm_lms_udemy_bar .stm_lms_course__title {
		font-size: 24px !important;
		margin-bottom: 0 !important;
	}

	.stm_lms_udemy_headline p {
		font-size: 16px;
	}

	.shop_table .woocommerce-cart-form__cart-item {
		position: relative;
	}

	.shop_table .woocommerce-cart-form__cart-item .product-remove {
		position: absolute;
		right: 5px;
		/*bottom: 5px;*/
		border: none;
		padding: 60px 20px 50px 0;
	}

	.shop_table .woocommerce-cart-form__cart-item product-name {
		position: relative;
	}

	.cart-totals_wrap .table-responsive {
		border: none !important;
	}

	#view-invoice,
	#pdf-invoice {
		width: 100%;
		margin-top: 15px;
	}
}

@media (min-width: 768px) {
	#footer_top .container {
		padding: 45px 0;
	}

	#footer_top .row {
		margin: 0;
		display: table;
		width: 100%;
	}

	#footer_top .col-md-6  {
		display: table-cell;
		vertical-align: middle;
		float: none;
	}

	#footer_top  .widget_text img {
		margin: 0;
	}

	#footer_top  .cols_1 aside {
		padding-bottom: 0;
	}

	#contacts-3 {
		padding-top: 28px;
	}

	.vc_custom_1549964896362 .testimonials_main_wrapper:last-of-type {
		display: none;
	}
}

@media (max-width: 767px) {
	#footer_top .container {
		padding-top: 45px !important;
		padding-bottom: 0 !important;
	}

	html {
		overflow-x: hidden;
	}
}

/* UPD SEPT */
@media (max-width: 400px) {
    .course-title-holder {
        padding-right: 5px;
    }
}

@media(max-width: 480px){
    .woocommerce-MyAccount-navigation ul {
        padding-left: 0;
    }
    .woocommerce-MyAccount-navigation ul li {
        display: block;
    }
}

@media (max-width: 767px) {
    .table-responsive>.table>tbody>tr>td,
    .table-responsive>.table>tbody>tr>th,
    .table-responsive>.table>tfoot>tr>td,
    .table-responsive>.table>tfoot>tr>th,
    .table-responsive>.table>thead>tr>td,
    .table-responsive>.table>thead>tr>th {
        overflow: hidden;
        text-overflow: ellipsis;
    }

	.table-responsive>.table>tbody>tr>td.product-name {
		position: relative !important;
	}
}

@media (max-width: 655px) {
    .course_table tr td.number.number-visible.title, .course_table tr td.title {
        padding-left: 20px;
        display: block;
        width: 100%;
    }
    .course_table tr td.stm_badge {
        display: block;
        width: 100%;
        text-align: left;
    }
    .course_table tr td .meta {
        padding-left: 12px;
    }
    .course_table tr td.stm_badge .badge_unit {
        margin-left: 15px;
    }
    .woocommerce-message {
        padding-right: 26px;
    }
    .woocommerce-message .button {
        position: static;
        float: none;
        display: block;
    }
    .woocommerce-message .button:after {
        display: none;
    }
    .shop_table > tbody > tr td.actions {
        padding-left: 15px;
        padding-right: 15px;
    }
    .woocommerce .shop_table.cart .coupon .button {
        display: block;
        margin-top: 15px;
    }
    .woocommerce .shop_table.cart .coupon {
        float: none;
        margin-bottom: 30px;
    }
    .woocommerce .shop_table.cart .button.update-cart {
        float: none;
        margin-bottom: 15px;
    }
}

.tp-caption .icon_in_btn {
    text-align: center !important;
}

@media (max-width: 991px){
    .overflowed_content .wpb_column .vc_column-inner{
        margin-top: 0 !important;
    }
}

body .vc_row[data-vc-full-width] {
    overflow: visible;
}
body .vc_row[data-vc-full-width].vc_parallax {
    overflow: hidden;
}

.woocommerce-product-gallery {
    position: relative;
    margin-bottom: 3em
}
.woocommerce-product-gallery figure {
    margin: 0
}
.woocommerce-product-gallery .woocommerce-product-gallery__image:nth-child(n+2) {
    width: 25%;
    display: inline-block
}
.woocommerce-product-gallery .flex-control-thumbs li {
    list-style: none;
    float: left;
    cursor: pointer
}
.woocommerce-product-gallery .flex-control-thumbs img {
    opacity: .5
}
.woocommerce-product-gallery .flex-control-thumbs img.flex-active, .woocommerce-product-gallery .flex-control-thumbs img:hover {
    opacity: 1
}
.woocommerce-product-gallery img {
    display: block
}
.woocommerce-product-gallery--columns-3 .flex-control-thumbs li {
    width: 33.3333%
}
.woocommerce-product-gallery--columns-4 .flex-control-thumbs li {
    width: 25%
}
.woocommerce-product-gallery--columns-5 .flex-control-thumbs li {
    width: 20%
}
.woocommerce-product-gallery__trigger {
    position: absolute;
    top: 1em;
    right: 1em;
    z-index: 99
}
ol.flex-control-nav.flex-control-thumbs {
    padding-left: 0px;
}
.woocommerce-product-gallery--columns-4 .flex-control-thumbs li {
    width: 20%;
}
.woocommerce-product-gallery__trigger {
    right: inherit;
    left: .5em;
}
.woocommerce div.product div.images .woocommerce-product-gallery__trigger {
    position: absolute;
    top: .5em;
    right: .5em;
    font-size: 2em;
    z-index: 9;
    width: 36px;
    height: 36px;
    background: #fff;
    text-indent: -9999px;
    border-radius: 100%;
    box-sizing: content-box;
}
.woocommerce div.product div.images .woocommerce-product-gallery__trigger:before {
    content: "";
    display: block;
    width: 10px;
    height: 10px;
    border: 2px solid #000;
    border-radius: 100%;
    position: absolute;
    top: 9px;
    left: 9px;
    box-sizing: content-box;
}
.woocommerce div.product div.images .woocommerce-product-gallery__trigger:after {
    content: "";
    display: block;
    width: 2px;
    height: 8px;
    background: #000;
    border-radius: 6px;
    position: absolute;
    top: 19px;
    left: 22px;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    box-sizing: content-box;
}


/* Woo My Account Tabs*/
.woocommerce-account .woocommerce-MyAccount-navigation {
    display: table;
    float: none;
    width: 100%; }
.woocommerce-account .woocommerce-MyAccount-content {
    float: none;
    width: 100%;
}
.woocommerce-MyAccount-navigation ul {
    display: table !important;
    table-layout: fixed;
    width: 100%;
    list-style: none;
    padding: 0;
    margin: 0;
    margin-bottom: 30px; }
.woocommerce-MyAccount-navigation  ul > li {
    display: table-cell; }
.woocommerce-MyAccount-navigation  ul > li > a {
    display: block;
    padding: 12px 20px;
    background-color: #457992;
    border: 0;
    border-left: 1px solid #fff;
    border-radius: 0;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    font-size: 14px;}
.woocommerce-MyAccount-navigation  ul > li.is-active a,
.woocommerce-MyAccount-navigation  ul > li a:hover,
.woocommerce-MyAccount-navigation  ul > li a:focus {
    background-color: #f0f2f5;
    color: #457992; }
.woocommerce div.product form.cart .variations td.label {
    display: none;
}
.woocommerce-product-gallery {
    position: relative;
    margin-bottom: 3em
}
.woocommerce-product-gallery figure {
    margin: 0
}
a.woocommerce-LoopProduct-link.woocommerce-loop-product__link {
    z-index: 9 !important;
}
.stm_archive_product_inner_unit .stm_archive_product_inner_unit_centered .stm_featured_product_price .price h5 {
    font-weight: normal;
}
.widget_stm_recent_posts span.h6 {
    display: inline !important;
}
.widget_stm_recent_posts .cats_w {
    margin-left: 83px;
}







__________________







.login-form {
	text-align: center;
	margin: 0 auto;
	margin-top: 100px;
	margin-bottom: 100px;
	max-width: 460px;
}
	.login-form > section {
		padding: 35px 35px 25px 35px;
		border-radius: 5px;
	}
	.login-form a {
		color: #fff;
	}
	.login-form img {
		display: block;
		margin: 0 auto;
		margin-bottom: 55px;
	}

form[role=login] {
	font: 14px/2.2em Lato, serif;
	color: #aaa;
}
	form[role=login] input,
	form[role=login] > button {
		font-size: 15px;
		padding: 10px 30px;
	}
	form[role=login] input {
		color: #777;
		background: rgba(180,180,180,.9);
		border: none;
		height: 2.6em;
		padding: 10px 40px;
		border-radius: 3px;
		-webkit-box-shadow: inset 0 0 1px 1px rgba(150, 150, 150, .1);
		   -moz-box-shadow: inset 0 0 1px 1px rgba(150, 150, 150, .1);
		        box-shadow: inset 0 0 1px 1px rgba(150, 150, 150, .1);
	}
	form[role=login] > div {
		margin: 30px 0;
		position: relative;
	}
	form[role=login] > button {
		margin-top: 15px;
		margin-bottom: 15px;
		background: #0c56a9;
		border: 1px solid #0c4584;
	}

.form-control + .glyphicon {
    position: absolute;
    left: 0;
	top: 14%;
    padding: 8px 0 0 17px;
	font-size: 15px;
	color: #757575;
}

.login-page {
	height:100vh;
	padding:0 !important;
}
.left-login-page {
	height: 100vh;
	margin: 0;
	padding: 0;
	background-image: url(images/bg-left.png);
	background-repeat: no-repeat;
	background-size: cover;
}
.right-login-page {
	height: 100vh;
	margin: 0;
	padding: 0;
}
.vcenter {
    display: inline-block;
    vertical-align: middle;
}

.right-login-page img{
	display:block;
	margin:0 auto;
	margin-bottom:3em;
}
.formlogin {
	width:60% !important;
}

.line {
  position: relative;
  z-index: 1;
  overflow: hidden;
  text-align: center;
  width: 60%;
}
.line:before,
.line:after {
  content: '';
  display: inline-block;
  width: 100%;
  height: 1px;
  background: #aca5b0;
  z-index: -1;
  position: relative;
  vertical-align: middle;
}
.line:before {
  right: 15px;
  margin: 0 0 0 -100%;
}
.line:after {
  left: 15px;
  margin: 0 -100% 0 0;
}

.right-login-page h4 {
color: #aca5b0;
font-size:20px;
padding-bottom:2em;
}

.input-class {
	height: 67px !important;
	border-radius: 39px 0 0 39px  !important;
	background-color: #f1f0f2 !important;
	border:none  !important;
	padding-left: 3em !important;
	padding-bottom: 1em !important;
	padding-top: 10px !important;
}
.input-group {
	padding-bottom: 1em !important;
}
.text-class-login {
	border-radius: 0 39px 39px 0 !important;
	background-color: #f1f0f2 !important;
	border:none  !important;
	width: 70px;
}
.text-class-login i{
	display: block;
	margin: 0 auto;
}
.login_btn {
	width: 100%;
	border-radius: 39px;
	height: 67px;
	box-shadow: 0 14px 28px rgba(90, 17, 122, 0.3);
	border-radius: 39px !important;
	background-color: #5a117a !important;
	color: #fff !important;
	font-weight: 600 !important;
}
.login_btn:hover {
	opacity:0.8;
}
.forgotpassword {
	margin-top:2em;
	color: #5a117a;
	font-size: 18px;
	font-weight: 400;
	text-decoration: underline;
}
.forgotpassword:hover {
	color: #5a117a;
	font-weight: 600;
}

.left-login-page h1 {
	color:#fff;
	font-size: 60px;
	font-weight: 700;
}
.left-login-page h1 {
    display: inline-block;
    color:#fff;
    line-height: 1;
    text-decoration:none;
}
.left-login-page h1:after {
    background-color: #fff;
    display: block;
    content: "";
    height: 5px;
    width: 30%;
    -webkit-transition: width .3s ease-in-out;
    -moz--transition: width .3s ease-in-out;
    transition: width .3s ease-in-out;
	margin-top:0.5em;
}

.left-login-page p {
	color:#fff;
	font-size: 18px;
	margin-top:0.5em;
	width:75%;
}
.left-login-page {
	padding: 0 !important;
}
.right-login-page {
	padding: 0 !important;
}

.checkout-page {
	background-color: #f2f3f7;
	padding-bottom:5em;
}
.checkout-page h1{
	font-weight: 700;
}
.checkout-page p{
	color: #aca5b0;
	font-weight: 400;
}
.checkout-page p a{
	color: #aca5b0;
	text-decoration:underline;
	font-weight: 400;
}


.form {
	padding:2em;
	padding-top: 0;
}

.tab-group {
  list-style: none;
  padding: 0;
  margin: 0 0 40px 0;
}
.tab-group:after {
  content: "";
  display: table;
  clear: both;
}
.tab-group li a {
	display: block;
	text-decoration: none;
	padding: 10px;
	color: #5a117a;
	font-size: 16px;
	float: left;
	width: 30%;
	text-align: center;
	cursor: pointer;
	transition: .5s ease;
	font-weight:400;
	border: 1px solid #5a117a;
}
.tab-group .tab1 {
	border-radius: 5px 0 0 5px;
}
.tab-group .tab2 {
	border-radius: 0 5px 5px 0;
}


.tab-group li a:hover {
  background-color: #5a117a;
  color: #ffffff;
}
.tab-group .active a {
  background-color: #5a117a;
  color: #ffffff;
}

.tab-content > div:last-child {
  display: none;
}

.field-wrap {
  position: relative;
  margin-bottom: 40px;
}

.top-row:after {
  content: "";
  display: table;
  clear: both;
}
.top-row > div {
  float: left;
  width: 48%;
  margin-right: 4%;
}
.top-row > div:last-child {
  margin: 0;
}

.button {
  border: 0;
  outline: none;
  border-radius: 0;
  padding: 15px 0;
  font-size: 2rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: .1em;
  background: #1ab188;
  color: #ffffff;
  transition: all 0.5s ease;
  -webkit-appearance: none;
}
.button:hover, .button:focus {
  background: #179b77;
}

.button-block {
  display: block;
  width: 100%;
}

.forgot {
  margin-top: -20px;
  text-align: right;
}

.personal-info {
	box-shadow: 0 10px 20px rgba(125, 125, 128, 0.3);
	border-radius: 5px;
	background-color: #ffffff;
	padding-bottom: 3em;
}

.personal-info h2{
	font-size: 30px;
	font-weight: 700;
	margin-bottom:0.5em;
}
.info-info:nth-child(1) {
	box-shadow: 0 10px 20px rgba(125, 125, 128, 0.3);
	border-radius: 5px;
	background-color: #ffffff;
	padding:2em;
	margin-bottom:2em;
	padding-bottom: 1em;
}
.info-info:nth-child(2) {
	box-shadow: 0 10px 20px rgba(125, 125, 128, 0.3);
	border-radius: 5px;
	background-color: #ffffff;
	padding:2em;
	margin-bottom:2em;
	padding-bottom: 5em;
}
.info-info h2{
	font-size: 30px;
	font-weight: 700;
	margin-bottom:1em;
}
.product-item {
	margin-top:2em;
}
.product-item img{
	width:100%;
}
.product-item h4{
	font-weight:700;
}
.product-item p{
	font-size: 14px;
}
.price-count-product {
	border-bottom:1px solid #f2f2f2;
	border-top:1px solid #f2f2f2;
	height:4em;
}
.price-count-product h5{
	color: #342e38;
	font-size: 14px;
	font-weight:700;
	margin:0;
}
.delete-img {
	width: 30% !important;
	display: block;
	float: right;
}
/*
--- Checkout Panel
*/
.checkout-panel {
  display: flex;
  flex-direction: column;
  background-color: rgb(255, 255, 255);
}

.method {
  width: 100%;
  height: 122px;
  padding-top: 20px;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 2px;
  background-color: rgb(249, 249, 249);
}

.blue-border {
  border: 1px solid rgb(110, 178, 251);
}

.card-logos {
  display: flex;
  width: 150px;
  justify-content: space-between;
  align-items: center;
}

.radio-input {
  margin-top: 20px;
}

input[type='radio'] {
  display: inline-block;
}


.input-fields label {
  display: block;
  margin-bottom: 10px;
  color: #342e38;
  font-size: 18px;
  font-weight:700;
  margin-top: 1.5em;
}

.warning {
  border-color: #f62f5e !important;
}

.info {
  font-size: 12px;
  font-weight: 300;
  display: block;
  margin-top: 50px;
  opacity: .5;
  color: #2e2e2e;
}


input[type='number'],
input[type='username'],
input[type='email'],
input[type='text'],
input[type='password'],
input[type='date'] {
  font-size: 16px;
  width: 100%;
  height: 50px;
  padding-right: 40px;
  padding-left: 16px;
  color: rgba(46, 46, 46, .8);
  border: 1px solid rgb(225, 225, 225);
  border-radius: 4px;
  outline: none;
}

input[type='number']:focus,
input[type='username']:focus,
input[type='text']:focus,
input[type='email']:focus,
input[type='date']:focus,
input[type='password']:focus {
  border-color: #5a117a;
}

#DOB { background: url(images/ic-calendar.png) no-repeat 95%; }
#Customer { background: url(images/ic-arrow.png) no-repeat 95%; }
#country { background: url(images/ic-arrow.png) no-repeat 95%; }

.small-inputs {
  display: flex;
  margin-top: 20px;
  justify-content: space-between;
}

.small-inputs div {
  width: 182px;
}

/* Panel Footer */
.panel-footer {
  display: flex;
  width: 100%;
  height: 96px;
  padding: 0 80px;
  background-color: rgb(239, 239, 239);
  justify-content: space-between;
  align-items: center;
}


.podska {
	color:#fff !important;
	background-color:#5a117a;
	font-size:14px !important;
	cursor: pointer;
	border-radius: 40px;
	width: 20px;
	height: 20px;
	text-align: center;
	display: inline-block;
}

p#vtip {
display: none;
 position: absolute;
 padding: 10px;
 left: 5px;
 font-size: 0.8em;
 background-color: white;
 border: 1px solid #5a117a;
 -moz-border-radius: 5px;
 -webkit-border-radius: 5px;
 z-index: 9999;
 font-weight:700;
 }
p#vtip #vtipArrow {
	position: absolute;
	top: -10px;
	left: 5px;
}
.selectt {
	font-size: 16px;
	width: 100%;
	height: 50px;
	padding-right: 40px;
	padding-left: 16px;
	color: rgba(46, 46, 46, .8);
	border: 1px solid rgb(225, 225, 225);
	border-radius: 4px;
	outline: none;
}

.selectt {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.panel-body {
	border-bottom:2px dashed #c7c4ca;
	margin-bottom: 3em;
	padding-bottom: 3em;
}

.count-prod {
	position: absolute;
	color: #fff;
	background-color: #5a117a;
	width: 25px;
	height: 25px;
	text-align: center;
	border-radius: 25px;
	text-decoration: none;
}
.count-prod:hover {
	color: #fff;
	text-decoration: none;
}

.total-sum {
	background-color: #f2f2f2;
	margin-top:1em;
}
.total-sum h5{
	font-size: 16px;
	color: #aca5b0;
	margin:0;
	padding-top:1em;
	padding-bottom:1em;
	float: right;
}
.total-sum h5 strong{
	color: #342e38;
}
.total-sum a{
color: #5a117a;
font-size: 16px;
font-weight: 400;
text-decoration: underline;
}

.card {
	display: block !important;
}
.payment-method input[type=radio] {
    display: none !important;
}
.payment-method label img {
    display: inline-block !important;
	margin:0 auto;
}
.payment-method h5 {
    padding-top:5px;
	text-align:center;
	font-size: 18px;
	font-weight: 700;
}

.blue-border {
    border: 2px solid #5a117a  !important;
	border-radius:5px;
}
.confid {
	color: #342e38 !important;
	padding:15px;
}
.confid a{
	color: #5a117a !important;
	text-decoration:underline;
}
.login_btn2 {
	margin-top:2em;
	margin-left:1em;
}

.login_button {
	width: 100%;
	height: 60px;
	margin-top: 0;
}

.border-payment {
	border: 2px solid #5a117a !important;
	border-radius: 5px;
}

.col-12 {
	margin: 0;
	padding: 0;
}

.register-new input {
	background: #fff;
}

.return-to-shop a {
	font-size: 14px;
	padding: 10px;
}

.tab a:hover {
	color:#fff !important;
}

#loginbag h2 {
    text-align: center !important;
    padding-top: 1em !important;
}

#main {
	background-color: #f2f3f7;
}
.entry-title {
	margin-bottom:2em;
}

.woocommerce {
	padding-top:0 !important;
}

#view-invoice, #pdf-invoice {
	height:100% !important;
	margin-right:1em;
}

.login-loading-product {
	position: absolute;
	width: 85%;
	height: 90%;
	background: #fff;
	opacity: 0.75;
	z-index: -1;
}

.pload {
	margin-top:40%  !important;
}

@media (max-width: 780px) {
    .login-page .left-login-page {
	  display: none !important;
	}
	.formlogin {
    width: 80% !important;
	}
	.tab-group li a {
		width:50%;
	}
	.info-info {
		margin-top:2em;
	}
}

.select2-container--default .select2-results__option--highlighted[aria-selected], .select2-container--default .select2-results__option--highlighted[data-selected] {
	background-color: #5a117a !important;
}

.phoen_apply_gift_coupon .button {
	font-size: 14px;
	padding: 1em;
	background: #5a117a !important;
	width: 20%;
	float: right;
}
#phoen_apply_gift_coupon_val {
	width: 80%;
	display: inline-block;}

.price-count-product h5 span {
	font-size: 12px;
	line-height: 1.3;
}
.product-item h4 {
	padding-top: 10px;
	padding-top: 2.5em;
}
.product-item img {
	margin-top: 2em;
}
.delete-img {
	margin-top: 0 !important;
}

#billing_field_533_field input {
	width: 10% !important;
}
#billing_field_533_field {
	font-weight: 600;
	color: #000;
}

