.btn{border-radius:4px;}.btn{padding-top:9px;padding-right:22px;padding-bottom:12px;padding-left:22px;}#wrapper #main{padding-bottom:0px;}h1{}h2{margin-top:0px;margin-bottom:15px;}h3{margin-top:0px;}h4{}h5{}h6{}