@CHARSET "UTF-8";

@font-face {
	font-family: "ProximaNova";
	src: url("fonts/ProximaNova-Regular.ttf") format("truetype"),
	url('fonts/ProximaNova-Regular.eot?#iefix') format('embedded-opentype'),
	url("fonts/ProximaNova-Regular.woff") format("woff");

	font-weight: 400;
	font-weight: normal;
}
@font-face {
	font-family: "ProximaNova";
	src: url("fonts/ProximaNova-Light.ttf") format("truetype"),
	url('fonts/ProximaNova-Light.eot?#iefix') format('embedded-opentype'),
	url("fonts/ProximaNova-Light.woff") format("woff");

	font-weight: 300;
}
@font-face {
	font-family: "ProximaNova";
	src: url("fonts/ProximaNova-Semibold.ttf") format("truetype"),
	url('fonts/ProximaNova-Semibold.eot?#iefix') format('embedded-opentype'),
	url("fonts/ProximaNova-Semibold.woff") format("woff");

	font-weight: 700;
	font-weight: bold;
}

* {
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
	outline: none;
}


h1, p, h2, h3, h4, h5, h6, h7, strong , ul , li , a, input, button{
	font-family:ProximaNova !important;
}
	
.login-form {
	text-align: center;
	margin: 0 auto;
	margin-top: 100px;
	margin-bottom: 100px;
	max-width: 460px;
}
	.login-form > section {
		padding: 35px 35px 25px 35px;
		border-radius: 5px;
	}
	.login-form a {
		color: #fff;
	}
	.login-form img {
		display: block;
		margin: 0 auto;
		margin-bottom: 55px;
	}

form[role=login] {
	font: 14px/2.2em Lato, serif;
	color: #aaa;
}	
	form[role=login] input,
	form[role=login] > button {
		font-size: 15px;
		padding: 10px 30px;
	}
	form[role=login] input {
		color: #777;
		background: rgba(180,180,180,.9);
		border: none;
		height: 2.6em;
		padding: 10px 40px;
		border-radius: 3px;
		-webkit-box-shadow: inset 0 0 1px 1px rgba(150, 150, 150, .1);
		   -moz-box-shadow: inset 0 0 1px 1px rgba(150, 150, 150, .1);
		        box-shadow: inset 0 0 1px 1px rgba(150, 150, 150, .1);
	}
	form[role=login] > div {
		margin: 30px 0;
		position: relative; 
	}
	form[role=login] > button {
		margin-top: 15px;
		margin-bottom: 15px;
		background: #0c56a9;
		border: 1px solid #0c4584;
	}
	
.form-control + .glyphicon {
    position: absolute;
    left: 0;
	top: 14%;
    padding: 8px 0 0 17px;
	font-size: 15px;
	color: #757575;
}

.login-page {
	height:100vh;
	padding:0 !important;
}
.left-login-page {
	height: 100vh;
	margin: 0;
	padding: 0;
	background-image: url(../images/bg-left.png);
	background-repeat: no-repeat;
	background-size: cover;
}
.right-login-page {
	height: 100vh;
	margin: 0;
	padding: 0;
}
.vcenter {
    display: inline-block;
    vertical-align: middle;
}

.right-login-page img{
	display:block;
	margin:0 auto;
	margin-bottom:3em;
}
.formlogin {
	width:60% !important;
}

.line {    
  position: relative;
  z-index: 1;
  overflow: hidden;
  text-align: center;
  width: 60%;
}
.line:before,
.line:after {
  content: '';
  display: inline-block;
  width: 100%;
  height: 1px;
  background: #aca5b0;
  z-index: -1;
  position: relative;
  vertical-align: middle;
}
.line:before {
  right: 15px;
  margin: 0 0 0 -100%;
}
.line:after {
  left: 15px;
  margin: 0 -100% 0 0;
}

.right-login-page h4 {
color: #aca5b0;
font-size:20px;
padding-bottom:2em;
}

.input-class {
	height: 67px !important;
	border-radius: 39px 0 0 39px  !important;
	background-color: #f1f0f2 !important;
	border:none  !important;
	padding-left: 3em !important;
	padding-bottom: 1em !important;
	padding-top: 10px !important;
}
.input-group {
	padding-bottom: 1em !important;
}
.text-class-login {
	border-radius: 0 39px 39px 0 !important;
	background-color: #f1f0f2 !important;
	border:none  !important;
	width: 70px;
}
.text-class-login i{
	display: block;
	margin: 0 auto;
}
.login_btn {
	width: 100%;
	border-radius: 39px;
	height: 67px;
	box-shadow: 0 14px 28px rgba(90, 17, 122, 0.3);
	border-radius: 39px !important;
	background-color: #5a117a !important;
	color: #fff !important;
	font-weight: 600 !important;
}
.login_btn:hover {
	opacity:0.8;
}
.forgotpassword {
	margin-top:2em;
	color: #5a117a;
	font-size: 18px;
	font-weight: 400;
	text-decoration: underline;
}
.forgotpassword:hover {
	color: #5a117a;
	font-weight: 600;
}

.left-login-page h1 {
	color:#fff;
	font-size: 60px;
	font-family:'proxima';
	font-weight: 700;
}
.left-login-page h1 {
    display: inline-block;
    color:#fff;
    line-height: 1;
    text-decoration:none;
}
.left-login-page h1:after {
    background-color: #fff;
    display: block;
    content: "";
    height: 5px;
    width: 30%;
    -webkit-transition: width .3s ease-in-out;
    -moz--transition: width .3s ease-in-out;
    transition: width .3s ease-in-out;
	margin-top:0.5em;
}

.left-login-page p {
	color:#fff;
	font-size: 18px;
	margin-top:0.5em;
	width:75%;
}
.left-login-page {
	padding: 0 !important;
}
.right-login-page {
	padding: 0 !important;
}

.checkout-page {
	background-color: #f2f3f7;
	font-family:ProximaNova !important;
	padding-bottom:5em;
}
.checkout-page h1{
	font-weight: 700;
}
.checkout-page p{
	color: #aca5b0;
	font-weight: 400;
}
.checkout-page p a{
	color: #aca5b0;
	text-decoration:underline;
	font-weight: 400;
}


.form {
	padding:2em;
}

.tab-group {
  list-style: none;
  padding: 0;
  margin: 0 0 40px 0;
}
.tab-group:after {
  content: "";
  display: table;
  clear: both;
}
.tab-group li a {
	display: block;
	text-decoration: none;
	padding: 10px;
	color: #5a117a;
	font-size: 16px;
	float: left;
	width: 30%;
	text-align: center;
	cursor: pointer;
	transition: .5s ease;
	font-weight:400;
	border: 1px solid #5a117a;
}
.tab-group .tab1 {
	border-radius: 5px 0 0 5px;
}
.tab-group .tab2 {
	border-radius: 0 5px 5px 0;
}


.tab-group li a:hover {
  background-color: #5a117a;
  color: #ffffff;
}
.tab-group .active a {
  background-color: #5a117a;
  color: #ffffff;
}

.tab-content > div:last-child {
  display: none;
}

.field-wrap {
  position: relative;
  margin-bottom: 40px;
}

.top-row:after {
  content: "";
  display: table;
  clear: both;
}
.top-row > div {
  float: left;
  width: 48%;
  margin-right: 4%;
}
.top-row > div:last-child {
  margin: 0;
}

.button {
  border: 0;
  outline: none;
  border-radius: 0;
  padding: 15px 0;
  font-size: 2rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: .1em;
  background: #1ab188;
  color: #ffffff;
  transition: all 0.5s ease;
  -webkit-appearance: none;
}
.button:hover, .button:focus {
  background: #179b77;
}

.button-block {
  display: block;
  width: 100%;
}

.forgot {
  margin-top: -20px;
  text-align: right;
}

.personal-info {
	box-shadow: 0 10px 20px rgba(125, 125, 128, 0.3);
	border-radius: 5px;
	background-color: #ffffff;
}

.personal-info h2{
	font-size: 30px;
	font-weight: 700;
	margin-bottom:2em;
}
.info-info {
	box-shadow: 0 10px 20px rgba(125, 125, 128, 0.3);
	border-radius: 5px;
	background-color: #ffffff;
	padding:2em;
	margin-bottom:2em;
}
.info-info h2{
	font-size: 30px;
	font-weight: 700;
	margin-bottom:1em;
}
.product-item {
	margin-top:2em;
}
.product-item img{
	width:100%;
}
.product-item h4{
	font-weight:700;
}
.product-item p{
	font-size: 14px;
}
.price-count-product {
	border-bottom:1px solid #f2f2f2;
	border-top:1px solid #f2f2f2;
	height:4em;
}
.price-count-product h5{
	color: #342e38;
	font-size: 16px;
	font-weight:700;
	margin:0;
}
.delete-img {
	width: 30% !important;
	display: block;
	float: right;
}
/*
--- Checkout Panel
*/
.checkout-panel {
  display: flex;
  flex-direction: column;
  background-color: rgb(255, 255, 255);
}

.method {
  width: 100%;
  height: 122px;
  padding-top: 20px;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 2px;
  background-color: rgb(249, 249, 249);
}

.blue-border {
  border: 1px solid rgb(110, 178, 251);
}

.card-logos {
  display: flex;
  width: 150px;
  justify-content: space-between;
  align-items: center;
}

.radio-input {
  margin-top: 20px;
}

input[type='radio'] {
  display: inline-block;
}


.input-fields label {
  display: block;
  margin-bottom: 10px;
  color: #342e38;
  font-size: 18px;
  font-weight:700;
}

.warning {
  border-color: #f62f5e !important;
}

.info {
  font-size: 12px;
  font-weight: 300;
  display: block;
  margin-top: 50px;
  opacity: .5;
  color: #2e2e2e;
}


input[type='number'],
input[type='username'],
input[type='email'],
input[type='text'],
input[type='password'],
input[type='date'] {
  font-size: 16px;
  width: 100%;
  height: 50px;
  padding-right: 40px;
  padding-left: 16px;
  color: rgba(46, 46, 46, .8);
  border: 1px solid rgb(225, 225, 225);
  border-radius: 4px;
  outline: none;
}

input[type='number']:focus,
input[type='username']:focus,
input[type='text']:focus,
input[type='email']:focus,
input[type='date']:focus,
input[type='password']:focus {
  border-color: #5a117a;
}

#date { background: url(img/icons_calendar_black.png) no-repeat 90%; }
#cardholder { background: url(img/icons_person_black.png) no-repeat 95%; }
#cardnumber { background: url(img/icons_card_black.png) no-repeat 95%; }
#verification { background: url(img/icons_lock_black.png) no-repeat 90%; }
#DOB { background: url(../images/ic-calendar.png) no-repeat 95%; }
#Customer { background: url(../images/ic-arrow.png) no-repeat 95%; }
#country { background: url(../images/ic-arrow.png) no-repeat 95%; }

.small-inputs {
  display: flex;
  margin-top: 20px;
  justify-content: space-between;
}

.small-inputs div {
  width: 182px;
}

/* Panel Footer */
.panel-footer {
  display: flex;
  width: 100%;
  height: 96px;
  padding: 0 80px;
  background-color: rgb(239, 239, 239);
  justify-content: space-between;
  align-items: center;
}



.podska {
	color:#fff !important;
	background-color:#5a117a;
	font-size:14px !important;
	cursor: pointer;
	border-radius: 40px;
	width: 20px;
	height: 20px;
	text-align: center;
	display: inline-block;
}
.login_btn {
	margin: 0 !important;
}

p#vtip { 
display: none;
 position: absolute;
 padding: 10px;
 left: 5px;
 font-size: 0.8em;
 background-color: white;
 border: 1px solid #5a117a;
 -moz-border-radius: 5px;
 -webkit-border-radius: 5px;
 z-index: 9999;
 font-weight:700;
 }
p#vtip #vtipArrow {
	position: absolute;
	top: -10px;
	left: 5px; 
}
.selectt {
	font-size: 16px;
	width: 100%;
	height: 50px;
	padding-right: 40px;
	padding-left: 16px;
	color: rgba(46, 46, 46, .8);
	border: 1px solid rgb(225, 225, 225);
	border-radius: 4px;
	outline: none;
}

.selectt {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.panel-body {
	border-bottom:2px dashed #c7c4ca;
	margin-bottom: 3em;
}

.count-prod {
	position: absolute;
	color: #fff;
	background-color: #5a117a;
	width: 25px;
	height: 25px;
	text-align: center;
	border-radius: 25px;
	text-decoration: none;
}
.count-prod:hover {
	color: #fff;
	text-decoration: none;
}

.total-sum {
	background-color: #f2f2f2;
	margin-top:1em;
}
.total-sum h5{
	font-size: 16px;
	color: #aca5b0;
	margin:0;
	padding-top:1em;
	padding-bottom:1em;
	float: right;
}
.total-sum h5 strong{
	color: #342e38;
}
.total-sum a{
color: #5a117a;
font-size: 16px;
font-weight: 400;
text-decoration: underline;
}

.card {
	display: block !important;
}
.payment-method input[type=radio] {
    display: none !important;
}
.payment-method label img {
    display: block !important;
	margin:0 auto;
}
.payment-method h5 {
    padding-top:5px;
	text-align:center;
	font-size: 18px;
	font-weight: 700;
}

.blue-border {
    border: 2px solid #5a117a  !important;
	border-radius:5px;
}
.confid {
	color: #342e38 !important;
	padding:15px;
}
.confid a{
	color: #5a117a !important;
	text-decoration:underline;
}
.login_btn {
	margin-top:2em;
	margin-left:1em;
}

.req-input {
	border: 1px solid red !important;
}


.som-password-sent-message.som-password-error-message {
	text-align: center  !important;
color: red !important;
font-size: 18px  !important;
}

.forgotpass {
	padding-top: 2em;
font-size: 18px;
font-weight: 400;
text-decoration: underline;
color: #5a117a;
}

.som-password-sent-message {
	color: green;
text-align: center;
}

@media (max-width: 780px) {
    .login-page .left-login-page {
	  display: none !important;
	}
	.formlogin {
    width: 80% !important;
	}
	.tab-group li a {
		width:50%;
	}
	.info-info {
		margin-top:2em;
	}
}