option[value="ad"] { background-image:url(ad.png); }
option[value="ae"] { background-image:url(ae.png); }
option[value="af"] { background-image:url(af.png); }
option[value="ag"] { background-image:url(ag.png); }
option[value="al"] { background-image:url(al.png); }
option[value="am"] { background-image:url(am.png); }
option[value="ao"] { background-image:url(ao.png); }
option[value="ar"] { background-image:url(ar.png); }
option[value="at"] { background-image:url(at.png); }
option[value="au"] { background-image:url(au.png); }
option[value="az"] { background-image:url(az.png); }
option[value="ba"] { background-image:url(ba.png); }
option[value="bb"] { background-image:url(bb.png); }
option[value="bd"] { background-image:url(bd.png); }
option[value="be"] { background-image:url(be.png); }
option[value="bf"] { background-image:url(bf.png); }
option[value="bg"] { background-image:url(bg.png); }
option[value="bh"] { background-image:url(bh.png); }
option[value="bi"] { background-image:url(bi.png); }
option[value="bj"] { background-image:url(bj.png); }
option[value="bn"] { background-image:url(bn.png); }
option[value="bo"] { background-image:url(bo.png); }
option[value="br"] { background-image:url(br.png); }
option[value="bs"] { background-image:url(bs.png); }
option[value="bt"] { background-image:url(bt.png); }
option[value="bw"] { background-image:url(bw.png); }
option[value="by"] { background-image:url(by.png); }
option[value="bz"] { background-image:url(bz.png); }
option[value="ca"] { background-image:url(ca.png); }
option[value="cd"] { background-image:url(cd.png); }
option[value="cf"] { background-image:url(cf.png); }
option[value="cg"] { background-image:url(cg.png); }
option[value="ch"] { background-image:url(ch.png); }
option[value="ci"] { background-image:url(ci.png); }
option[value="cl"] { background-image:url(cl.png); }
option[value="cm"] { background-image:url(cm.png); }
option[value="cn"] { background-image:url(cn.png); }
option[value="co"] { background-image:url(co.png); }
option[value="cr"] { background-image:url(cr.png); }
option[value="cu"] { background-image:url(cu.png); }
option[value="cv"] { background-image:url(cv.png); }
option[value="cy"] { background-image:url(cy.png); }
option[value="cz"] { background-image:url(cz.png); }
option[value="de"] { background-image:url(de.png); }
option[value="dj"] { background-image:url(dj.png); }
option[value="dk"] { background-image:url(dk.png); }
option[value="dm"] { background-image:url(dm.png); }
option[value="do"] { background-image:url(do.png); }
option[value="dz"] { background-image:url(dz.png); }
option[value="ec"] { background-image:url(ec.png); }
option[value="ee"] { background-image:url(ee.png); }
option[value="eg"] { background-image:url(eg.png); }
option[value="eh"] { background-image:url(eh.png); }
option[value="er"] { background-image:url(er.png); }
option[value="es"] { background-image:url(es.png); }
option[value="et"] { background-image:url(et.png); }
option[value="fi"] { background-image:url(fi.png); }
option[value="fj"] { background-image:url(fj.png); }
option[value="flags.css"] { background-image:url(flags.css.png); }
option[value="fm"] { background-image:url(fm.png); }
option[value="fr"] { background-image:url(fr.png); }
option[value="ga"] { background-image:url(ga.png); }
option[value="gb"] { background-image:url(gb.png); }
option[value="gd"] { background-image:url(gd.png); }
option[value="ge"] { background-image:url(ge.png); }
option[value="gh"] { background-image:url(gh.png); }
option[value="gm"] { background-image:url(gm.png); }
option[value="gn"] { background-image:url(gn.png); }
option[value="gq"] { background-image:url(gq.png); }
option[value="gr"] { background-image:url(gr.png); }
option[value="gt"] { background-image:url(gt.png); }
option[value="gw"] { background-image:url(gw.png); }
option[value="gy"] { background-image:url(gy.png); }
option[value="hn"] { background-image:url(hn.png); }
option[value="hr"] { background-image:url(hr.png); }
option[value="ht"] { background-image:url(ht.png); }
option[value="hu"] { background-image:url(hu.png); }
option[value="id"] { background-image:url(id.png); }
option[value="ie"] { background-image:url(ie.png); }
option[value="il"] { background-image:url(il.png); }
option[value="in"] { background-image:url(in.png); }
option[value="iq"] { background-image:url(iq.png); }
option[value="ir"] { background-image:url(ir.png); }
option[value="is"] { background-image:url(is.png); }
option[value="it"] { background-image:url(it.png); }
option[value="jm"] { background-image:url(jm.png); }
option[value="jo"] { background-image:url(jo.png); }
option[value="jp"] { background-image:url(jp.png); }
option[value="ke"] { background-image:url(ke.png); }
option[value="kg"] { background-image:url(kg.png); }
option[value="kh"] { background-image:url(kh.png); }
option[value="ki"] { background-image:url(ki.png); }
option[value="km"] { background-image:url(km.png); }
option[value="kn"] { background-image:url(kn.png); }
option[value="kp"] { background-image:url(kp.png); }
option[value="kr"] { background-image:url(kr.png); }
option[value="ks"] { background-image:url(ks.png); }
option[value="kw"] { background-image:url(kw.png); }
option[value="kz"] { background-image:url(kz.png); }
option[value="la"] { background-image:url(la.png); }
option[value="lb"] { background-image:url(lb.png); }
option[value="lc"] { background-image:url(lc.png); }
option[value="li"] { background-image:url(li.png); }
option[value="lk"] { background-image:url(lk.png); }
option[value="lr"] { background-image:url(lr.png); }
option[value="ls"] { background-image:url(ls.png); }
option[value="lt"] { background-image:url(lt.png); }
option[value="lu"] { background-image:url(lu.png); }
option[value="lv"] { background-image:url(lv.png); }
option[value="ly"] { background-image:url(ly.png); }
option[value="ma"] { background-image:url(ma.png); }
option[value="mc"] { background-image:url(mc.png); }
option[value="md"] { background-image:url(md.png); }
option[value="me"] { background-image:url(me.png); }
option[value="mg"] { background-image:url(mg.png); }
option[value="mh"] { background-image:url(mh.png); }
option[value="mk"] { background-image:url(mk.png); }
option[value="ml"] { background-image:url(ml.png); }
option[value="mm"] { background-image:url(mm.png); }
option[value="mn"] { background-image:url(mn.png); }
option[value="mr"] { background-image:url(mr.png); }
option[value="mt"] { background-image:url(mt.png); }
option[value="mu"] { background-image:url(mu.png); }
option[value="mv"] { background-image:url(mv.png); }
option[value="mw"] { background-image:url(mw.png); }
option[value="mx"] { background-image:url(mx.png); }
option[value="my"] { background-image:url(my.png); }
option[value="mz"] { background-image:url(mz.png); }
option[value="na"] { background-image:url(na.png); }
option[value="ne"] { background-image:url(ne.png); }
option[value="ng"] { background-image:url(ng.png); }
option[value="ni"] { background-image:url(ni.png); }
option[value="nl"] { background-image:url(nl.png); }
option[value="no"] { background-image:url(no.png); }
option[value="np"] { background-image:url(np.png); }
option[value="nr"] { background-image:url(nr.png); }
option[value="nz"] { background-image:url(nz.png); }
option[value="om"] { background-image:url(om.png); }
option[value="pa"] { background-image:url(pa.png); }
option[value="pe"] { background-image:url(pe.png); }
option[value="pg"] { background-image:url(pg.png); }
option[value="ph"] { background-image:url(ph.png); }
option[value="pk"] { background-image:url(pk.png); }
option[value="pl"] { background-image:url(pl.png); }
option[value="pt"] { background-image:url(pt.png); }
option[value="pw"] { background-image:url(pw.png); }
option[value="py"] { background-image:url(py.png); }
option[value="qa"] { background-image:url(qa.png); }
option[value="ro"] { background-image:url(ro.png); }
option[value="rs"] { background-image:url(rs.png); }
option[value="ru"] { background-image:url(ru.png); }
option[value="rw"] { background-image:url(rw.png); }
option[value="sa"] { background-image:url(sa.png); }
option[value="sb"] { background-image:url(sb.png); }
option[value="sc"] { background-image:url(sc.png); }
option[value="sd"] { background-image:url(sd.png); }
option[value="se"] { background-image:url(se.png); }
option[value="sg"] { background-image:url(sg.png); }
option[value="si"] { background-image:url(si.png); }
option[value="sk"] { background-image:url(sk.png); }
option[value="sl"] { background-image:url(sl.png); }
option[value="sm"] { background-image:url(sm.png); }
option[value="sn"] { background-image:url(sn.png); }
option[value="so"] { background-image:url(so.png); }
option[value="sr"] { background-image:url(sr.png); }
option[value="st"] { background-image:url(st.png); }
option[value="sv"] { background-image:url(sv.png); }
option[value="sy"] { background-image:url(sy.png); }
option[value="sz"] { background-image:url(sz.png); }
option[value="td"] { background-image:url(td.png); }
option[value="tg"] { background-image:url(tg.png); }
option[value="th"] { background-image:url(th.png); }
option[value="tj"] { background-image:url(tj.png); }
option[value="tl"] { background-image:url(tl.png); }
option[value="tm"] { background-image:url(tm.png); }
option[value="tn"] { background-image:url(tn.png); }
option[value="to"] { background-image:url(to.png); }
option[value="tr"] { background-image:url(tr.png); }
option[value="tt"] { background-image:url(tt.png); }
option[value="tv"] { background-image:url(tv.png); }
option[value="tw"] { background-image:url(tw.png); }
option[value="tz"] { background-image:url(tz.png); }
option[value="ua"] { background-image:url(ua.png); }
option[value="ug"] { background-image:url(ug.png); }
option[value="us"] { background-image:url(us.png); }
option[value="uy"] { background-image:url(uy.png); }
option[value="uz"] { background-image:url(uz.png); }
option[value="va"] { background-image:url(va.png); }
option[value="vc"] { background-image:url(vc.png); }
option[value="ve"] { background-image:url(ve.png); }
option[value="vn"] { background-image:url(vn.png); }
option[value="vu"] { background-image:url(vu.png); }
option[value="ws"] { background-image:url(ws.png); }
option[value="ye"] { background-image:url(ye.png); }
option[value="za"] { background-image:url(za.png); }
option[value="zm"] { background-image:url(zm.png); }
option[value="zw"] { background-image:url(zw.png); }