/* line 5, assets/scss/vc_modules/stm_layout_styles/classic_lms.scss */
.select2-container--default .select2-dropdown {
  border-color: #babdc1; }

/* line 8, assets/scss/vc_modules/stm_layout_styles/classic_lms.scss */
.select2-container--default .select2-selection--single {
  border-color: #babdc1;
  border-radius: 4px; }
  /* line 11, assets/scss/vc_modules/stm_layout_styles/classic_lms.scss */
  .select2-container--default .select2-selection--single .select2-selection__rendered {
    color: #293145; }
  /* line 14, assets/scss/vc_modules/stm_layout_styles/classic_lms.scss */
  .select2-container--default .select2-selection--single .select2-selection__arrow b:after {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 6px 5px 0 5px;
    border-color: #385bce transparent transparent transparent;
    transform: none !important;
    top: -4px !important; }

/* line 26, assets/scss/vc_modules/stm_layout_styles/classic_lms.scss */
body .stm_lms_courses_grid__top {
  margin-bottom: 76px; }

/* line 31, assets/scss/vc_modules/stm_layout_styles/classic_lms.scss */
.widget_pages ul.style_1 {
  margin-top: -5px; }
  /* line 34, assets/scss/vc_modules/stm_layout_styles/classic_lms.scss */
  .widget_pages ul.style_1 li a {
    padding-top: 5px !important;
    padding-bottom: 10px !important;
    margin-bottom: 10px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2); }
    /* line 42, assets/scss/vc_modules/stm_layout_styles/classic_lms.scss */
    .widget_pages ul.style_1 li a:after {
      top: 7px !important;
      margin-top: 0 !important; }

/* line 52, assets/scss/vc_modules/stm_layout_styles/classic_lms.scss */
.textwidget .btn {
  padding: 11px 15px !important;
  border-radius: 0 !important;
  background-color: transparent !important;
  border-color: #fff !important;
  font-size: 12px;
  font-weight: 400; }

/* line 62, assets/scss/vc_modules/stm_layout_styles/classic_lms.scss */
.widget_mailchimp .stm_mailchimp_unit .button {
  background-color: #273044 !important; }

/* line 66, assets/scss/vc_modules/stm_layout_styles/classic_lms.scss */
.post_list_main_section_wrapper .post_list_item_title {
  padding-right: 0;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  word-spacing: 0; }

/* line 75, assets/scss/vc_modules/stm_layout_styles/classic_lms.scss */
html body.classic_lms .search-toggler {
  padding: 3px 7px;
  border-width: 2px;
  border-color: #333;
  color: #333; }

/* line 83, assets/scss/vc_modules/stm_layout_styles/classic_lms.scss */
.header_main_menu_wrapper .header-menu > li > a {
  font-weight: 600; }

/* line 88, assets/scss/vc_modules/stm_layout_styles/classic_lms.scss */
html .triangled_colored_separator, body .triangled_colored_separator {
  width: 80px;
  font-size: 0;
  background-color: transparent !important; }
  /* line 92, assets/scss/vc_modules/stm_layout_styles/classic_lms.scss */
  html .triangled_colored_separator:before, html .triangled_colored_separator:after, body .triangled_colored_separator:before, body .triangled_colored_separator:after {
    content: '';
    display: inline-block;
    vertical-align: top;
    width: 33px;
    height: 3px; }
  /* line 100, assets/scss/vc_modules/stm_layout_styles/classic_lms.scss */
  html .triangled_colored_separator:after, body .triangled_colored_separator:after {
    margin-left: 13px; }
  /* line 103, assets/scss/vc_modules/stm_layout_styles/classic_lms.scss */
  html .triangled_colored_separator .triangle, body .triangled_colored_separator .triangle {
    display: inline-block;
    border: 0 !important;
    font-size: 0; }
    /* line 107, assets/scss/vc_modules/stm_layout_styles/classic_lms.scss */
    html .triangled_colored_separator .triangle:before, body .triangled_colored_separator .triangle:before {
      position: relative;
      top: -2px;
      left: -3px;
      content: '';
      display: block;
      width: 12px;
      height: 12px;
      border-width: 3px 3px 0 0;
      border-style: solid;
      transform: rotate(-45deg); }

/* line 123, assets/scss/vc_modules/stm_layout_styles/classic_lms.scss */
.stm_lms_courses__single .star-rating {
  margin-top: 4px !important; }

@media (max-width: 769px) {
  /* line 128, assets/scss/vc_modules/stm_layout_styles/classic_lms.scss */
  #searchform-mobile .search-wrapper .search-input {
    border-left: 1px solid #e1e2e4; } }
