@import "../../scss_components/mixins";
@import "../../scss_components/base_variables";

.select2-container--default {
    .select2-dropdown {
        border-color: #babdc1;
    }
    .select2-selection--single {
        border-color: #babdc1;
        border-radius: 4px;
        .select2-selection__rendered {
            color: #293145;
        }
        .select2-selection__arrow b:after {
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 6px 5px 0 5px;
            border-color: #385bce transparent transparent transparent;
            transform: none !important;
            top: -4px !important;
        }
    }
}

body .stm_lms_courses_grid__top {
    margin-bottom: 76px;
}

.widget_pages {
    ul.style_1 {
        margin-top: -5px;
        li {
            a {
                padding-top: 5px !important;
                padding-bottom: 10px !important;
                margin-bottom: 10px;
                border-bottom: 1px solid rgba(255, 255, 255, 0.2);
                span {

                }
                &:after {
                    top: 7px !important;
                    margin-top: 0 !important;
                }
            }
        }
    }
}

.textwidget {
    .btn {
        padding: 11px 15px !important;
        border-radius: 0 !important;
        background-color: transparent !important;
        border-color: #fff !important;
        font-size: 12px;
        font-weight: 400;
    }
}

.widget_mailchimp .stm_mailchimp_unit .button {
    background-color: #273044 !important;
}

.post_list_main_section_wrapper .post_list_item_title {
    padding-right: 0;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    word-spacing: 0;
}

html body.classic_lms {
    .search-toggler {
        padding: 3px 7px;
        border-width: 2px;
        border-color: #333;
        color: #333;
    }
}

.header_main_menu_wrapper .header-menu > li > a {
    font-weight: 600;
}

html, body {
    .triangled_colored_separator {
        width: 80px;
        font-size: 0;
        background-color: transparent !important;
        &:before,
        &:after {
            content: '';
            display: inline-block;
            vertical-align: top;
            width: 33px;
            height: 3px;
        }
        &:after {
            margin-left: 13px;
        }
        .triangle {
            display: inline-block;
            border: 0 !important;
            font-size: 0;
            &:before {
                position: relative;
                top: -2px;
                left: -3px;
                content: '';
                display: block;
                width: 12px;
                height: 12px;
                border-width: 3px 3px 0 0;
                border-style: solid;
                transform: rotate(-45deg);
            }
        }
    }
}

.stm_lms_courses__single .star-rating {
    margin-top: 4px !important;
}

@include breakpoint(tabletonly) {
    #searchform-mobile .search-wrapper .search-input {
        border-left: 1px solid #e1e2e4;
    }
}