.vc_tta-tabs.vc_tta-tabs-position-left.vc_tta-color-blue .vc_tta-tabs-container .vc_tta-tabs-list li.vc_tta-tab.vc_active a,
.vc_tta-tabs.vc_tta-tabs-position-top.vc_tta-color-blue .vc_tta-tabs-container .vc_tta-tabs-list li.vc_tta-tab.vc_active a {
    background-color: #eee !important;
}

.vc_tta-tabs.vc_tta-tabs-position-left.vc_tta-color-blue .vc_tta-tabs-container .vc_tta-tabs-list li.vc_tta-tab a {
    text-align: center !important;
}

.wpb-js-composer .vc_tta-controls-align-left.vc_tta-tabs.vc_tta-tabs-position-top:not([class*=vc_tta-gap]):not(.vc_tta-o-no-fill) .vc_tta-panels {
    background-color: transparent !important;
}

.wpb-js-composer .vc_tta-tabs.vc_tta-tabs-position-left {
    display: block !important;
}

.wpb-js-composer .vc_tta-color-blue.vc_tta-style-classic.vc_tta-tabs .vc_tta-panels {
    background: transparent !important;
}

ul.stm-courses {
    li {
        .star-rating {
            display: none;
        }
        .price ins .amount {
            font-size: 15px;
        }
    }
}

body {
    .stm_sign_up_now {
        height: 100%;
        padding: 0;
        .stm_sign_up_now_inner {
            height: 100%;
            padding: 70px 35px 30px;
            box-shadow: 0 11px 29px 0 rgba(0, 0, 0, 0.18);
            .wpcf7-form {
                .form-group {
                    margin: 0 0 36px;
                    h4 {
                        margin: 0 0 14px;
                    }
                    .form-control {
                        background-color: transparent;
                        height: 50px;
                        line-height: 52px;
                        border-radius: 25px;
                        border: 1px solid #ddd;
                        font-size: 14px !important;
                    }
                }
                .btn {
                    margin-top: 13px;
                }
                .wpcf7-not-valid-tip {
                    margin: 10px 0 0;
                    text-align: left;
                }
            }
        }
    }
}

.vc_row-o-equal-height {
    .wpb_wrapper {
        height: 100%;
    }
}

body {
    .icon_box {
        padding: 0;
        .icon {
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            min-height: 70px;
            margin-right: 16px;
        }
        .icon_text {
            p {
                font-size: 15px;
                line-height: 26px;
            }
        }
        .icon_alignment_left .icon_text h4 {
            margin: 0 0 24px;
        }
        .icon_alignment_left .icon_text h5 {
            margin: 0;
            font-size: 18px;
            line-height: 26px;
            font-weight: 500;
        }
    }
}

body {
    .teacher-col {
        text-align: center;
        .multiseparator {
            margin: 15px 0 !important;
            &:before,
            &:after {
                display: none;
            }
        }
        .teacher_img {
            margin: 0 0 26px;
        }
        .title {
            padding: 0;
            margin: 0 0 5px !important;
            color: #333333 !important;
            font-size: 22px;
        }
        .job {
            margin-bottom: 19px;
            font-style: italic;
            font-size: 14px;
            color: #555555;
            opacity: 0.6;
        }
        .content {
            p {
                font-size: 15px;
                line-height: 22px;
            }
        }
    }
}

body {
    .widget_mailchimp .stm_mailchimp_unit .button .h5 {
        font-size: 14px;
        font-weight: 500;
    }
    #footer {
        .widget_title h3 {
            font-size: 22px;
            font-weight: 700;
            text-transform: none;
        }
        .widget_menus,
        .widget_nav_menu {
            ul {
                padding: 0;
                list-style: none;
                li {
                    a {
                        display: block;
                        margin: 0 0 15px;
                        position: relative;
                        padding-left: 13px;
                        font-size: 15px;
                        &:before {
                            display: block;
                            position: absolute;
                            top: 9px;
                            left: 0;
                            width: 4px;
                            height: 4px;
                            content: '';
                            background: #7f7f81;
                            border-radius: 50%;
                        }
                    }
                }
            }
        }
        .socials_widget_wrapper .widget_socials li .front a {
            background-color: #00aad1 !important;
            color: #fff !important;
        }
        .socials_widget_wrapper .widget_socials li .back a {
            background-color: #f6b548 !important;
            color: #fff !important;
        }
        .widget_pages ul.style_1 li,
        .widget_nav_menu ul.style_1 li {
            position: relative;
            a:after {
                top: 9px !important;
                margin: 0 !important;
                background: #fff;
                border-radius: 50%;
                width: 4px;
                height: 4px;
            }
        }
    }
}

.transparent_header_off .header_default:after {
    display: none;
}

.sidebar-area .widget_title h3 {
    text-transform: none;
    font-size: 22px;
    font-weight: 700;
}

.stm_archive_product_inner_unit .stm_archive_product_inner_unit_centered .stm_featured_product_footer .stm_featured_product_show_more a {
    padding: 0 10px;
    line-height: 42px;
    border-radius: 0;
}

.entry-header .entry-title h1 {
    font-size: 50px;
}

.event-col .event_archive_item > a {
    .event_img {
        margin: 0 0 20px;
    }
    .title {
        padding: 0 15px 5px;
    }
}

.logo-unit span.logo {
    display: block;
    margin: 0 auto;
    color: #333;
    text-align: center;
}

.transparent_header {
    .logo-unit span.logo {
        color: #fff;
    }
}

@media only screen and (max-width: 768px) {
    body .stm_sign_up_now .stm_sign_up_now_inner {
        padding: 40px 30px !important;
    }
}

@media only screen and (max-width: 500px) {
    h1, .h1 {
        font-size: 50px !important;
        line-height: 1.3 !important;
    }
}