.categories-courses {
  display: flex;
  padding: 0 15px;
  flex-grow: 1;
  justify-content: center;
}

.categories-courses-single>a {
  position: relative;
  display: flex;
  align-items: center;
  padding: 28px 30px;
  color: #fff!important;
  font-weight: 300;
  font-size: 16px;
}

.categories-courses-single>a:after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  -webkit-transform: scale(.9);
  transform: scale(.9);
  opacity: 0;
  transition: .3s ease;
  z-index: 0;
}

.categories-courses-single>a>* {
  position: relative;
  z-index: 100;
}

.categories-courses-single>a span {
  position: relative;
  top: 2px;
  letter-spacing: -.1px;
}

.categories-courses-single>a i {
  font-size: 33px;
  margin-right: 15px;
}

.categories-courses-single:hover>a:after {
  background-color: #0050b4;
  opacity: .8;
  -webkit-transform: scale(1);
  transform: scale(1);
}

.categories-courses-single:hover .categories-courses-dropdown {
  opacity: 1;
  visibility: visible;
  transition: .3s .3s ease;
}

.categories-courses-dropdown {
  display: flex;
  align-items: center;
  position: absolute;
  padding: 38px 0 34px;
  top: 100%;
  left: 0;
  right: 0;
  opacity: 0;
  visibility: hidden;
}

.categories-courses-dropdown>* {
  position: relative;
  z-index: 100;
}

.categories-courses-dropdown:after {
  content: '';
  position: absolute;
  left: -400px;
  right: -400px;
  top: 0;
  bottom: 0;
  background-color: #0050b4;
  opacity: .8;
  z-index: 0;
}

.categories-courses-dropdown ul {
  list-style: none;
  display: flex;
  width: 73%;
  flex-wrap: wrap;
  margin: 0;
}

.categories-courses-dropdown ul li {
  width: 20%;
  margin-bottom: 6px;
}

.categories-courses-dropdown ul li a {
  color: #fff!important;
  font-size: 16px;
  font-weight: 300;
}

.categories-courses-dropdown ul li a i {
  display: inline-block;
  position: relative;
  top: -1px;
  font-size: 11px;
  margin-right: 5px;
  transition: .3s ease;
}

.categories-courses-dropdown ul li a:hover i {
  -webkit-transform: translateX(3px);
  transform: translateX(3px);
}

.categories-courses-dropdown form {
  position: relative;
  width: 354px;
  margin-left: auto;
  padding-right: 15px;
}

.categories-courses-dropdown form input {
  height: 50px;
  padding-right: 40px!important;
}

.categories-courses-dropdown form button[type=submit] {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 50px;
  line-height: 50px;
  right: 20px;
  color: #0050b4;
  font-size: 17px;
  border: 0;
  background-color: transparent;
}

@media (max-width:1590px) {
  .categories-courses .categories-courses-single>a {
    padding: 28px 20px;
  }

  .categories-courses .categories-courses-single>a i {
    font-size: 25px;
    margin-right: 5px;
  }
}

@media (max-width:1400px) {
  .categories-courses {
    padding: 0 5px;
  }

  .categories-courses .categories-courses-single>a {
    flex-wrap: wrap;
    padding: 8px 10px 15px;
    justify-content: center;
    font-size: 15px;
  }

  .categories-courses .categories-courses-single>a i {
    display: block;
    width: 100%;
    margin: 0 0 5px;
    text-align: center;
    font-size: 38px;
  }

  .categories-courses .categories-courses-single .categories-courses-dropdown ul li {
    width: 25%;
  }
}

@media (max-width:1250px) {
  .categories-courses {
    padding: 0 30px;
    justify-content: space-between;
  }

  .categories-courses .categories-courses-single>a {
    padding: 15px 30px;
    font-size: 13px;
  }

  .categories-courses .categories-courses-single>a span {
    display: none;
  }
}

@media (max-width:991px) {
  .categories-courses {
    padding: 0 30px;
  }

  .categories-courses .categories-courses-single>a {
    padding: 15px 10px;
  }
}

@media (min-width:681px) {
  .stm_lms_categories-courses__toggler {
    display: none;
  }
}

@media (max-width:680px) {
  .stm_lms_categories-courses__toggler {
    width: 50px;
    height: 50px;
    margin-left: auto;
    border-radius: 50%;
    text-align: center;
    line-height: 53px;
  }

  .categories-courses {
    position: fixed;
    right: 0;
    top: 0;
    bottom: 0;
    padding: 30px!important;
    width: 350px;
    background-color: #eef1f7;
    max-width: 85%;
    display: none;
    overflow-y: auto;
    z-index: 999999999;
  }

  .categories-courses.active {
    display: block;
  }

  .categories-courses .categories-courses-single>a {
    justify-content: flex-start;
    color: #000!important;
    padding: 15px 25px!important;
    background-color: #fff;
    font-size: 18px;
    text-transform: uppercase;
    margin: 0 0 2px;
  }

  .categories-courses .categories-courses-single>a i,.categories-courses .categories-courses-single>a:after {
    display: none;
  }

  .categories-courses .categories-courses-single>a span {
    display: block;
  }

  .categories-courses .categories-courses-single .categories-courses-dropdown {
    display: none;
    position: static;
    opacity: 1;
    visibility: visible;
    background-color: #0050b4;
  }

  .categories-courses .categories-courses-single .categories-courses-dropdown form {
    margin-top: 30px;
    padding-left: 15px;
    width: auto;
  }

  .categories-courses .categories-courses-single .categories-courses-dropdown ul,.categories-courses .categories-courses-single .categories-courses-dropdown ul li {
    width: 100%;
  }

  .categories-courses .categories-courses-single .categories-courses-dropdown:after {
    display: none;
  }

  .categories-courses .categories-courses-single.active .categories-courses-dropdown {
    display: block;
  }
}

.header_default.header_3 {
  padding: 10px 0 0;
  background-color: #333;
  color: #fff;
  min-height: auto;
  border-bottom: 1px solid rgba(255,255,255,.25);
}

.header_default.header_3:after {
  display: none!important;
}

.header_default.header_3>.container {
  max-width: 1745px;
}

.header_default.header_3 .header_top {
  display: flex;
  align-items: center;
}

.header_default.header_3 .stm_header_top_toggler {
  width: 50px;
  height: 50px;
  margin: 0 0 0 auto;
  font-size: 15px;
  line-height: 50px;
  text-align: center;
  color: #fff;
  border-radius: 50%;
  cursor: pointer;
}

.stm_lms_account_popup__close {
  cursor: pointer;
}

.stm_lms_header_popups_overlay.active {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0,0,0,.8);
  z-index: 9999;
}

@media (max-width:1590px) {
  .header_default.header_3 .header_top {
    flex-wrap: wrap;
  }
}

@media (max-width:1400px) {
  .header_default.header_3 .header_top .logo-unit {
    width: 235px;
  }
}

@media (max-width:991px) {
  .transparent_header {
    background-color: #0050b4;
  }

  .transparent_header .header_default.header_3 {
    padding: 0;
    border-bottom: 0;
  }
}

@media (max-width:680px) {
  .header_default.header_3 {
    padding: 15px 0!important;
  }

  .header_default.header_3 .stm_header_top_toggler {
    margin-left: 15px;
  }
}

body.has_envato_iframe .stm_lms_account_popup {
  top: 50px;
}

body.has_envato_iframe .stm_lms_account_popup__close {
  top: 30px;
}
/*# sourceMappingURL=../sourcemap/header_3.css.map */
