#editor.block-editor__container .editor-styles-wrapper .wp-block {
  max-width: 1200px;
  font-family: "Open Sans";
  color: #555555;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px; }

#editor.block-editor__container .editor-styles-wrapper code, #editor.block-editor__container .editor-styles-wrapper kbd, #editor.block-editor__container .editor-styles-wrapper pre, #editor.block-editor__container .editor-styles-wrapper samp {
  font-family: Menlo,Monaco,Consolas,"Courier New",monospace; }

#editor.block-editor__container .editor-styles-wrapper .h1, #editor.block-editor__container .editor-styles-wrapper .h2, #editor.block-editor__container .editor-styles-wrapper .h3, #editor.block-editor__container .editor-styles-wrapper .h4, #editor.block-editor__container .editor-styles-wrapper .h5, #editor.block-editor__container .editor-styles-wrapper .h6, #editor.block-editor__container .editor-styles-wrapper h1, #editor.block-editor__container .editor-styles-wrapper h2, #editor.block-editor__container .editor-styles-wrapper h3, #editor.block-editor__container .editor-styles-wrapper h4, #editor.block-editor__container .editor-styles-wrapper h5, #editor.block-editor__container .editor-styles-wrapper h6 {
  font-family: inherit;
  font-weight: 500;
  line-height: 1.1;
  color: inherit; }

#editor.block-editor__container .editor-styles-wrapper .h1, #editor.block-editor__container .editor-styles-wrapper .h2, #editor.block-editor__container .editor-styles-wrapper .h3, #editor.block-editor__container .editor-styles-wrapper h1, #editor.block-editor__container .editor-styles-wrapper h2, #editor.block-editor__container .editor-styles-wrapper h3 {
  margin-top: 20px;
  margin-bottom: 10px; }

#editor.block-editor__container .editor-styles-wrapper .h4, #editor.block-editor__container .editor-styles-wrapper .h5, #editor.block-editor__container .editor-styles-wrapper .h6, #editor.block-editor__container .editor-styles-wrapper h4, #editor.block-editor__container .editor-styles-wrapper h5, #editor.block-editor__container .editor-styles-wrapper h6 {
  margin-top: 10px;
  margin-bottom: 10px; }

#editor.block-editor__container .editor-styles-wrapper h1, #editor.block-editor__container .editor-styles-wrapper .h1, #editor.block-editor__container .editor-styles-wrapper h2, #editor.block-editor__container .editor-styles-wrapper .h2, #editor.block-editor__container .editor-styles-wrapper h3, #editor.block-editor__container .editor-styles-wrapper .h3, #editor.block-editor__container .editor-styles-wrapper h4, #editor.block-editor__container .editor-styles-wrapper .h4, #editor.block-editor__container .editor-styles-wrapper h5, #editor.block-editor__container .editor-styles-wrapper .h5, #editor.block-editor__container .editor-styles-wrapper h6, #editor.block-editor__container .editor-styles-wrapper .h6, #editor.block-editor__container .editor-styles-wrapper table, #editor.block-editor__container .editor-styles-wrapper blockquote, #editor.block-editor__container .editor-styles-wrapper blockquote p {
  font-family: Montserrat;
  color: #333333; }

#editor.block-editor__container .editor-styles-wrapper h1, #editor.block-editor__container .editor-styles-wrapper .h1 {
  font-weight: 700;
  font-size: 50px; }

#editor.block-editor__container .editor-styles-wrapper h2, #editor.block-editor__container .editor-styles-wrapper .h2 {
  font-weight: 700;
  font-size: 32px; }

#editor.block-editor__container .editor-styles-wrapper h3, #editor.block-editor__container .editor-styles-wrapper .h3 {
  font-weight: 700;
  font-size: 18px; }

#editor.block-editor__container .editor-styles-wrapper h4, #editor.block-editor__container .editor-styles-wrapper .h4, #editor.block-editor__container .editor-styles-wrapper blockquote {
  font-weight: 400;
  font-size: 16px; }

#editor.block-editor__container .editor-styles-wrapper h5, #editor.block-editor__container .editor-styles-wrapper .h5 {
  font-weight: 700;
  font-size: 14px; }

#editor.block-editor__container .editor-styles-wrapper h6, #editor.block-editor__container .editor-styles-wrapper .h6 {
  font-weight: 400;
  font-size: 12px; }

#editor.block-editor__container .editor-styles-wrapper p {
  font-family: "Open Sans";
  margin: 0 0 30px;
  color: #555555;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px; }

#editor.block-editor__container .editor-styles-wrapper blockquote {
  position: relative;
  padding: 14px 35px 14px 37px;
  margin: 52px 0 47px;
  border-left: 3px solid #eab830; }
  #editor.block-editor__container .editor-styles-wrapper blockquote ol:last-child,
  #editor.block-editor__container .editor-styles-wrapper blockquote p:last-child,
  #editor.block-editor__container .editor-styles-wrapper blockquote ul:last-child {
    margin-bottom: 0; }
  #editor.block-editor__container .editor-styles-wrapper blockquote:after, #editor.block-editor__container .editor-styles-wrapper blockquote:before {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 1px;
    z-index: 10;
    left: 0;
    background-color: #e1e2e4; }
  #editor.block-editor__container .editor-styles-wrapper blockquote:before {
    top: -24px; }
  #editor.block-editor__container .editor-styles-wrapper blockquote:after {
    bottom: -23px; }

#editor.block-editor__container .editor-styles-wrapper table {
  width: 100%;
  margin-bottom: 15px;
  border-spacing: 0;
  border-collapse: collapse; }
  #editor.block-editor__container .editor-styles-wrapper table tr {
    border: 1px solid #ccc; }
  #editor.block-editor__container .editor-styles-wrapper table td, #editor.block-editor__container .editor-styles-wrapper table th {
    padding: 5px 10px;
    border: 0; }
  #editor.block-editor__container .editor-styles-wrapper table th {
    text-align: left; }

#editor.block-editor__container .editor-styles-wrapper a {
  color: #48a7d4;
  text-decoration: none !important; }

#editor.block-editor__container .editor-styles-wrapper code {
  padding: 2px 4px;
  font-size: 90%;
  color: #c7254e;
  background-color: #f9f2f4;
  border-radius: 4px; }

#editor.block-editor__container .editor-styles-wrapper kbd {
  padding: 2px 4px;
  font-size: 90%;
  color: #fff;
  background-color: #333;
  border-radius: 3px;
  -webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.25);
  box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.25); }

#editor.block-editor__container .editor-styles-wrapper pre {
  display: block;
  padding: 9.5px;
  margin: 0 0 30px;
  font-size: 13px;
  line-height: 1.42857143;
  color: #333;
  word-break: break-all;
  word-wrap: break-word;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  border-radius: 4px; }

#editor.block-editor__container .editor-styles-wrapper dl {
  margin: 30px 0; }

#editor.block-editor__container .editor-styles-wrapper dt {
  font-weight: bold; }

#editor.block-editor__container .editor-styles-wrapper dd {
  margin: 0 0 20px; }

#editor.block-editor__container .editor-styles-wrapper ul {
  margin: 30px 0;
  padding-left: 0;
  list-style: none; }
  #editor.block-editor__container .editor-styles-wrapper ul li {
    position: relative;
    margin: 0 0 10px;
    padding-left: 20px; }
    #editor.block-editor__container .editor-styles-wrapper ul li:before {
      position: absolute;
      top: 12px;
      left: 0;
      content: '';
      display: block;
      width: 10px;
      height: 1px;
      background-color: #333; }
    #editor.block-editor__container .editor-styles-wrapper ul li ul {
      margin: 10px 0 0; }
      #editor.block-editor__container .editor-styles-wrapper ul li ul li {
        margin: 0 0 10px; }
        #editor.block-editor__container .editor-styles-wrapper ul li ul li:before {
          top: 11px; }

#editor.block-editor__container .editor-styles-wrapper ol {
  margin: 30px 0;
  padding-left: 25px; }
  #editor.block-editor__container .editor-styles-wrapper ol li {
    margin: 0 0 10px; }
    #editor.block-editor__container .editor-styles-wrapper ol li ol {
      margin: 10px 0 0;
      padding-left: 20px; }
      #editor.block-editor__container .editor-styles-wrapper ol li ol li {
        margin: 0 0 10px; }

#editor.block-editor__container .editor-styles-wrapper dl {
  margin: 30px 0; }

#editor.block-editor__container .editor-styles-wrapper table {
  margin: 30px 0; }

#editor.block-editor__container .editor-styles-wrapper pre {
  margin: 0 0 30px; }

#editor.block-editor__container .editor-styles-wrapper .woocommerce ul li {
  padding-left: 0; }
  #editor.block-editor__container .editor-styles-wrapper .woocommerce ul li:before {
    display: none; }

.stm_theme_icon_font_table i:hover {
  cursor: pointer; }

.stm_theme_icon_font_table {
  display: none; }

.stm_theme_icon_font_table.visible {
  display: block; }

.wp-core-ui .button.stm_theme_choose_fa_icons {
  margin-bottom: 15px; }

.cat_icon_chosen {
  background-color: #307ad5;
  color: #fff; }

.stm_theme_icon_font_table td {
  text-align: center; }

.wp-core-ui .button.stm_theme_choose_custom_icons {
  margin-bottom: 15px; }

.stm_theme_cat_chosen_icon_preview {
  margin: 10px 0; }

.stm_theme_cat_chosen_icon_preview i {
  padding: 5px;
  font-size: 65px;
  background-color: #000;
  color: #fff; }

.xdsoft_stm_datetimepicker {
  z-index: 999999; }

.wp-picker-container {
  display: inline-block; }

.redux-main .color-transparency-check {
  position: relative;
  top: 6px; }

.post-type-stm-orders .wp-list-table tr td,
.post-type-stm-orders .wp-list-table tr th {
  vertical-align: middle; }

.post-type-stm-orders .wp-list-table .row-actions {
  display: none; }

.stm_lms_status {
  padding: 5px 10px;
  background-color: #bb800b;
  border-radius: 5px;
  color: #ffffff; }

.stm_lms_status_cancelled {
  background-color: red; }

.stm_lms_status_completed {
  background-color: green; }
