.stm_archive_product_inner_unit:hover .stm_lms_courses__single--info {
    visibility:visible;
    opacity:1;
    -webkit-transform:translateY(0);
    transform:translateY(0);
    transition:.3s ease
}

.stm_featured_products_unit .col-md-3:nth-of-type(4n) .stm_archive_product_inner_unit .stm_lms_courses__single--info,
.stm_archive_product_inner_grid_content .course-col:nth-of-type(4n) .stm_lms_courses__single--info,
.stm_featured_products_unit .col-md-3:nth-of-type(4n+3) .stm_archive_product_inner_unit .stm_lms_courses__single--info,
.stm_archive_product_inner_grid_content .course-col:nth-of-type(4n+3) .stm_lms_courses__single--info {
	left:-500px;
    right:100%;
}

.stm_lms_courses__single--info{
    position:absolute;
    top: 0;
    left:100%;
    right:-500px;
    padding:35px 40px 22px;
    background-color:#fff;
    box-shadow:0 10px 30px 11px rgba(0,0,0,.25);
    visibility:hidden;
    opacity:0;
    -webkit-transform:translateY(-10px);
    transform:translateY(-10px);
    z-index:100;
    transition:none
}

.stm_lms_courses__single--info:before{
	content: '';
	position: absolute;
	top: 20%;
	left: -17px;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 15px 17px 15px 0;
	border-color: transparent #fff transparent transparent;
}

.stm_featured_products_unit .col-md-3:nth-of-type(4n) .stm_archive_product_inner_unit .stm_lms_courses__single--info:before,
.stm_archive_product_inner_grid_content .course-col:nth-of-type(4n) .stm_lms_courses__single--info:before,
.stm_featured_products_unit .col-md-3:nth-of-type(4n+3) .stm_archive_product_inner_unit .stm_lms_courses__single--info:before,
.stm_archive_product_inner_grid_content .course-col:nth-of-type(4n+3) .stm_lms_courses__single--info:before {
	left: auto;
	right: -17px;
	-webkit-transform: rotate(180deg);
	transform: rotate(180deg);
}

.stm_lms_courses__single--info_author{
    display:flex;
    align-items:center;
    margin:0 0 10px
}
.stm_lms_courses__single--info_author__avatar{
    max-width:40px;
    margin-right:5px;
    border-radius:50%;
    overflow:hidden
}
.stm_lms_courses__single--info_author__login{
    color:#777
}
.stm_lms_courses__single--info_title h4{
    font-size:18px;
    line-height:22px;
    font-weight:600;
    margin:15px 0;
}
.stm_lms_courses__single--info_rate{
    display:flex;
    margin:0 0 16px;
    align-items:center
}
.stm_lms_courses__single--info_rate .star-rating{
    margin:0
}
.stm_lms_courses__single--info_rate .average-rating-stars__av{
    margin-left:5px
}
.stm_lms_courses__single--info_status{
    padding:2px 10px;
    margin-left:auto;
    background-color:#f09b23;
    text-transform:uppercase;
    color:#fff;
    font-size:11px;
    letter-spacing:.5px;
    border-radius:2px
}
.stm_lms_courses__single--info_excerpt{
    margin:20px 0;
    font-size:14px;
    line-height:26px;
    color:#777
}
.stm_lms_courses__single--info_meta{
    display:block;
	overflow: auto;
}
.stm_lms_courses__single--info_meta .stm_lms_course__meta{
    padding:0 5px;
    margin:0 0 10px;
    color:#273044;
    font-size:13px;
    vertical-align:top
}
.stm_lms_courses__single--info_meta .stm_lms_course__meta i{
    position:relative;
    top:2px;
    margin-right:2px;
    font-size:16px
}
.stm_lms_courses__single--info_preview a{
    display:block;
    padding:14px 15px;
    margin:0 0 28px;
    background-color:#385bce;
    width:100%;
    color:#fff;
    text-transform:uppercase;
    font-weight:600;
    text-align:center
}
.stm_lms_courses__single--info_preview a:hover{
    background-color:#17d292;
    color:#fff!important
}
.stm_lms_courses__single--info_bottom{
    /*display:flex;*/
	margin-top: 20px;
	/*justify-content:space-between;
    align-items:center;*/
}
.stm_lms_courses__single--info_bottom>a{
    width: 80%;
}
.stm_lms_courses__single--info_bottom .stm-lms-wishlist{
    margin:0;
	/*flex: 1;*/
	text-align: right;
	float: right;
	padding-top: 10px;
}

body.skin_custom_color .stm_lms_courses__single--info_bottom .button.single_add_to_cart_button {
	max-width: 90% !important;
}

.stm_lms_courses__single--info .stm-lms-wishlist span{
    color:#b1b1b1;
	background: transparent;
    font-size:12px;
}

.stm_lms_courses__single--info .stm-lms-wishlist:hover i.far{
	background: transparent !important;
}

.stm_lms_courses__single--info .stm-lms-wishlist i.far{
    border: none !important;
    color:#00A8FF;
}

.stm_lms_courses__single--info .stm-lms-wishlist i.far{
    border-color: none;
    color:#00A8FF;
}

.stm_lms_courses__single--info_meta .level span {
	color: #9D9D9C !important;
	margin-right: 5px;
	font-weight: normal;
}

.stm_lms_courses__single--info_meta .level {
	float: left;
	margin-right: 10px;
	font-size: 14px !important;
	line-height: 19px !important;
	color: #1A2A36;
	font-weight: 600;
}

.stm_lms_courses__single--info_access ul {
	list-style: none;
	color: #8E9294;
	font-size: 14px;
	line-height: 18px;
	padding: 0;
}

@media (max-width:1024px){
    .stm_lms_courses__single--info{
        display:none!important
    }
}

body.skin_custom_color .button.product_type_variable.disable {
    pointer-events: none;
    cursor: default;
    background-color: #c9c9c9 !important;
    border-color: #c9c9c9;
}