<span style='color: #000' title='Frames'>    97</span><span style='color: #009' title='Memory'>   6144.00 KB</span><span style='color: #900' title='Time'>    126.50 ms</span><span  title='Quirksmode'>  <span style='color: #d00'> ON</span></span><br />