/* line 5, assets/scss/vc_modules/stm_layout_styles/single_instructor.scss */
.transparent_header_off .header_default {
  padding: 58px 0 44px; }
  /* line 7, assets/scss/vc_modules/stm_layout_styles/single_instructor.scss */
  .transparent_header_off .header_default:after {
    display: none; }

/* line 14, assets/scss/vc_modules/stm_layout_styles/single_instructor.scss */
body.single_instructor .countDays,
body.single_instructor .countHours,
body.single_instructor .countMinutes,
body.single_instructor .countSeconds {
  border: 0; }
  /* line 19, assets/scss/vc_modules/stm_layout_styles/single_instructor.scss */
  body.single_instructor .countDays:after, body.single_instructor .countDays:before,
  body.single_instructor .countHours:after,
  body.single_instructor .countHours:before,
  body.single_instructor .countMinutes:after,
  body.single_instructor .countMinutes:before,
  body.single_instructor .countSeconds:after,
  body.single_instructor .countSeconds:before {
    display: none; }
  /* line 23, assets/scss/vc_modules/stm_layout_styles/single_instructor.scss */
  body.single_instructor .countDays .countdown_label,
  body.single_instructor .countHours .countdown_label,
  body.single_instructor .countMinutes .countdown_label,
  body.single_instructor .countSeconds .countdown_label {
    text-transform: none; }

/* line 27, assets/scss/vc_modules/stm_layout_styles/single_instructor.scss */
body.single_instructor .countDiv {
  width: 40px;
  opacity: 0; }

/* line 31, assets/scss/vc_modules/stm_layout_styles/single_instructor.scss */
body.single_instructor .position {
  font-size: 70px;
  line-height: 70px; }

/* line 35, assets/scss/vc_modules/stm_layout_styles/single_instructor.scss */
body.single_instructor .position,
body.single_instructor .position .digit {
  line-height: 106px; }

/* line 39, assets/scss/vc_modules/stm_layout_styles/single_instructor.scss */
body.single_instructor .countdown_label {
  bottom: -35px; }

/* line 44, assets/scss/vc_modules/stm_layout_styles/single_instructor.scss */
.widget_mailchimp .stm_mailchimp_unit {
  overflow: visible; }
  /* line 46, assets/scss/vc_modules/stm_layout_styles/single_instructor.scss */
  .widget_mailchimp .stm_mailchimp_unit .stm_subscribe_email {
    padding: 6px 70px 6px 25px !important;
    height: 60px;
    border-radius: 30px;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.1) !important; }
  /* line 52, assets/scss/vc_modules/stm_layout_styles/single_instructor.scss */
  .widget_mailchimp .stm_mailchimp_unit .button {
    height: 60px;
    border-radius: 30px; }
  /* line 56, assets/scss/vc_modules/stm_layout_styles/single_instructor.scss */
  .widget_mailchimp .stm_mailchimp_unit .stm_subscribe_preloader {
    min-height: auto !important;
    bottom: 0;
    line-height: 55px;
    border-radius: 30px; }

/* line 64, assets/scss/vc_modules/stm_layout_styles/single_instructor.scss */
.icon_box.stm_icon_box_hover_none {
  padding: 56px 41px 41px;
  border-left: 6px solid #f2b91e;
  box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.14); }
  /* line 69, assets/scss/vc_modules/stm_layout_styles/single_instructor.scss */
  .icon_box.stm_icon_box_hover_none .icon_alignment_left h3 {
    margin: 0 0 16px; }
  /* line 73, assets/scss/vc_modules/stm_layout_styles/single_instructor.scss */
  .icon_box.stm_icon_box_hover_none:hover {
    background-color: #f2b91e; }
    /* line 75, assets/scss/vc_modules/stm_layout_styles/single_instructor.scss */
    .icon_box.stm_icon_box_hover_none:hover .icon i {
      color: #fff; }
    /* line 79, assets/scss/vc_modules/stm_layout_styles/single_instructor.scss */
    .icon_box.stm_icon_box_hover_none:hover .icon_text p,
    .icon_box.stm_icon_box_hover_none:hover .icon_text p span {
      color: #333 !important; }

/* line 88, assets/scss/vc_modules/stm_layout_styles/single_instructor.scss */
.stats_counter.text-left .stats_counter_title {
  text-transform: none; }

/* line 91, assets/scss/vc_modules/stm_layout_styles/single_instructor.scss */
.stats_counter.text-left .icon {
  float: left;
  margin: 0 29px 0 0; }

/* line 95, assets/scss/vc_modules/stm_layout_styles/single_instructor.scss */
.stats_counter.text-left .h1 {
  margin: 0 0 -3px !important; }

/* line 101, assets/scss/vc_modules/stm_layout_styles/single_instructor.scss */
.footer_wrapper .widget_stm_recent_posts .widget_media_style_2 .h6,
.footer_wrapper .widget_stm_recent_posts .widget_media_style_2 .cats_w,
.footer_wrapper .widget_contacts .widget_contacts_style_2 li.widget_contacts_email a,
.footer_wrapper .socials_widget_wrapper__text a {
  color: #333 !important; }

/* line 108, assets/scss/vc_modules/stm_layout_styles/single_instructor.scss */
.footer_wrapper #footer_bottom .widget_pages ul.style_2 li a span,
.footer_wrapper #footer_bottom .widget_contacts ul li .text,
.footer_wrapper #footer_bottom .textwidget {
  font-size: 15px;
  line-height: 22px; }

/* line 114, assets/scss/vc_modules/stm_layout_styles/single_instructor.scss */
.footer_wrapper #footer_bottom .widget_title h3 {
  font-size: 22px;
  text-transform: uppercase !important; }

/* line 120, assets/scss/vc_modules/stm_layout_styles/single_instructor.scss */
.footer_wrapper .widget_stm_recent_posts .widget_media_style_2 .h6 {
  font-size: 16px;
  line-height: 1.3; }

/* line 124, assets/scss/vc_modules/stm_layout_styles/single_instructor.scss */
.footer_wrapper .widget_stm_recent_posts .widget_media_style_2 .cats_w {
  font-size: 13px; }

/* line 130, assets/scss/vc_modules/stm_layout_styles/single_instructor.scss */
.header_main_menu_wrapper .header-menu > li > a {
  padding: 5px 0 0;
  text-transform: none;
  font-size: 18px; }

/* line 137, assets/scss/vc_modules/stm_layout_styles/single_instructor.scss */
.widget_pages ul.style_2 li a:hover .h6 {
  color: #fff !important; }

/* line 140, assets/scss/vc_modules/stm_layout_styles/single_instructor.scss */
.widget_pages ul.style_2 li a:hover:after {
  background-color: #fff !important; }

@media (max-width: 992px) {
  /* line 146, assets/scss/vc_modules/stm_layout_styles/single_instructor.scss */
  .stats_counter.text-left .icon {
    float: none; } }

@media (max-width: 500px) {
  /* line 152, assets/scss/vc_modules/stm_layout_styles/single_instructor.scss */
  .stm_static_background.vc_section {
    background-position: 55% 0 !important; } }

@media (max-width: 740px) {
  /* line 158, assets/scss/vc_modules/stm_layout_styles/single_instructor.scss */
  .icon_box.stm_icon_box_hover_none {
    padding: 30px 30px 20px; }
  /* line 161, assets/scss/vc_modules/stm_layout_styles/single_instructor.scss */
  .icon_alignment_left .icon {
    float: none;
    margin: 0 0 20px; }
  /* line 165, assets/scss/vc_modules/stm_layout_styles/single_instructor.scss */
  .stats_counter {
    text-align: center; }
    /* line 167, assets/scss/vc_modules/stm_layout_styles/single_instructor.scss */
    .stats_counter.text-left .icon {
      margin: 0; }
  /* line 171, assets/scss/vc_modules/stm_layout_styles/single_instructor.scss */
  h1 {
    font-size: 40px !important;
    line-height: 50px !important; }
  /* line 175, assets/scss/vc_modules/stm_layout_styles/single_instructor.scss */
  .countDiv {
    display: none !important; }
  /* line 178, assets/scss/vc_modules/stm_layout_styles/single_instructor.scss */
  .countDays, .countHours, .countMinutes, .countSeconds {
    float: none;
    display: inline-block; } }

/* line 184, assets/scss/vc_modules/stm_layout_styles/single_instructor.scss */
.stm_lms_course__title {
  font-size: 40px;
  line-height: 1.3; }

/* line 189, assets/scss/vc_modules/stm_layout_styles/single_instructor.scss */
.icon_box p {
  opacity: 1 !important; }

@media (max-width: 1024px) {
  /* line 194, assets/scss/vc_modules/stm_layout_styles/single_instructor.scss */
  .header_default .header_top_bar_socs ul {
    padding-left: 30px !important; }
  /* line 197, assets/scss/vc_modules/stm_layout_styles/single_instructor.scss */
  .header_main_menu_wrapper .header-menu > li {
    padding: 0 11px; }
    /* line 199, assets/scss/vc_modules/stm_layout_styles/single_instructor.scss */
    .header_main_menu_wrapper .header-menu > li > a {
      font-size: 15px; }
  /* line 203, assets/scss/vc_modules/stm_layout_styles/single_instructor.scss */
  body .header-menu-mobile .header-menu > li.opened > a {
    color: #eab830 !important; }
  /* line 206, assets/scss/vc_modules/stm_layout_styles/single_instructor.scss */
  .header-menu-mobile .header-menu > li .arrow.active {
    color: #fff; }
  /* line 209, assets/scss/vc_modules/stm_layout_styles/single_instructor.scss */
  body.skin_custom_color .header-menu-mobile .header-menu > li.opened > a {
    background: transparent !important; } }
