.stm_image_box {
  display: flex;
  align-items: flex-start;
}

.stm_image_box img {
  margin-right: 30px;
}

.stm_image_box__image {
  margin: 0 35px 0 0;
}

.stm_image_box__content {
  max-width: 430px;
  margin-bottom: 10px;
  font-size: 18px;
  line-height: 28px;
}

.stm_image_box__content h3 {
  margin: 0 0 20px;
  font-size: 28px;
  line-height: 36px;
}

.stm_image_box__textarea {
  max-width: 380px;
  margin: 0 0 30px;
}

@media (max-width:1024px) {
  .stm_image_box {
    flex-wrap: wrap;
  }

  .stm_image_box__image {
    width: 100%;
    margin: 0 0 30px;
  }
}

@media (max-width:769px) {
  .stm_image_box,.stm_image_box__image {
    text-align: center;
  }

  .stm_image_box {
    max-width: 600px;
    margin: 0 auto;
    justify-content: center;
  }
}

@media (max-width:515px) {
  .stm_image_box {
    padding: 15px 15px 30px;
  }
}
/*# sourceMappingURL=../sourcemap/style_2.css.map */
