.stm_image_box {
  display: flex;
  padding: 56px 40px 71px;
  min-height: 378px;
  border: 1px solid #e0e0e0;
  align-items: flex-end;
}

.stm_image_box__image {
  margin: 0 35px 0 0;
  min-height: 240px;
}

.stm_image_box img {
  margin-right: 45px;
}

.stm_image_box__content {
  max-width: 430px;
  margin-bottom: 10px;
  font-size: 18px;
  line-height: 28px;
}

.stm_image_box__content h3 {
  margin: 0 0 20px;
  font-size: 36px;
  line-height: 36px;
}

.stm_image_box__textarea {
  max-width: 380px;
  margin: 0 0 30px;
  font-weight: 300;
}

.stm_image_box .btn:hover {
  background-color: #4ed7a8;
}

@media (max-width:1370px) {
  .stm_image_box {
    align-items: center;
  }
}

@media (max-width:1300px) {
  .stm_image_box {
    flex-wrap: wrap;
  }

  .stm_image_box img {
    margin: 0 0 30px;
  }
}

@media (max-width:769px) {
  .stm_image_box,.stm_image_box__image {
    text-align: center;
  }

  .stm_image_box {
    max-width: 600px;
    margin: 0 auto;
    justify-content: center;
  }
}

@media (max-width:992px) {
  .stm_image_box img {
    margin-right: 30px;
  }
}

@media (max-width:515px) {
  .stm_image_box {
    padding: 15px 15px 30px;
  }

  .stm_image_box img {
    margin: 30px auto;
  }
}
/*# sourceMappingURL=../sourcemap/style_1.css.map */
