@import "../scss_components/mixins";

#wrapper {
    position: relative;
    overflow: hidden;
    background-color: $white;
    z-index: 16;
    & #main {
        min-height: 450px;
        position: relative;
        padding-bottom: 50px;
        z-index: 15;
        overflow: hidden;
    }
}

body.stm_locked {
    //overflow: hidden;
    & #footer {
        z-index: initial;
    }
}

.overlapping {
    position: relative;
    z-index: 99999;
}

.container {
    width: auto;
    max-width: 1200px;
}

html {
    min-height: 100%;
    position: relative;
    overflow-y: scroll;
    font-size: 100%;
}

.display_inline_block {
    display: inline-block;
    vertical-align: top;
    max-width: 100%;
}

.panel-group {
    & .panel.panel-default {
        border-radius: 0;
        border: 1px solid #e1e2e4;
        & > .panel-heading {
            padding: 0;
            background-color: $white;
            & a {
                display: block;
                padding: 14px 0;
            }
            &:hover {
                background-color: #f0f2f5;
                cursor: pointer;
                & .title {
                    color: #457992;
                }
            }
        }
        &.panel-collapsed {
            background-color: #f0f2f5;
            & .panel-heading {
                background-color: #f0f2f5;
            }
        }
        & .panel-body {
            border-top: 0 !important;
        }
    }
    & .panel + .panel {
        margin-top: 0;
        border-top: 0;
    }
}

.modal-dialog {
    padding: 50px 0;
    z-index: 1051;
}

.modal-content {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    border: none;
    border-radius: 4px;
    overflow: hidden;
    & label {
        font-weight: 400;
    }
}

.modal-backdrop.in {
    opacity: 1
}

.modal-backdrop {
    background: rgba(28, 28, 28, 0.88)
}

.modal .popup_title {
    position: relative;
    background: $orange-dk;
    padding: 30px 100px 30px 30px;
    font-size: 28px;
    color: #fff
}

.modal .popup_title h4 {
    font-weight: 700;
    margin: 10px 0 0;
    color: #fff
}

.modal .close_popup {
    position: absolute;
    right: 30px;
    top: 26px;
    width: 33px;
    height: 32px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    text-align: center;
    font-size: 16px;
    color: #fff;
    padding-top: 4px;
    cursor: pointer
}

.modal .close_popup:hover {
    background: #fff;
    border-color: #fff;
    color: #e85555
}

.modal .popup_content {
    position: relative;
    padding: 20px 30px;
    background: #fff;
    & .alert-success {
        margin: 10px 0;
        color: $green;
    }
}

.modal .loading {
    display: inline-block;
    vertical-align: middle;
    margin: 0 10px;
    font-size: 20px;
    visibility: hidden;
}

.modal-open {
    padding-right: 0 !important;
}

.modal-open #wrapper {
    -webkit-filter: blur(8px);
    -moz-filter: blur(8px);
    -o-filter: blur(8px);
    -ms-filter: blur(8px);
    filter: blur(8px);
}

.modal {
    -webkit-filter: blur(0);
    -moz-filter: blur(0);
    -o-filter: blur(0);
    -ms-filter: blur(0);
    filter: blur(0);
    opacity: 0;
    &.in {
        opacity: 1;
    }
}

#searchModal .modal-backdrop {
    background: rgba(0, 0, 0, 0.6) !important;
}

.gallery {
    margin-bottom: 20px;
    margin-left: -4px;
}

.gallery:after {
    content: "";
    display: table;
    clear: both;
}

.gallery-item {
    float: left;
    margin: 0 4px 4px 0;
    overflow: hidden;
    position: relative;
}

.gallery-columns-1.gallery-size-medium,
.gallery-columns-1.gallery-size-thumbnail,
.gallery-columns-2.gallery-size-thumbnail,
.gallery-columns-3.gallery-size-thumbnail {
    display: table;
    margin: 0 auto 20px;
}

.gallery-columns-1 .gallery-item,
.gallery-columns-2 .gallery-item,
.gallery-columns-3 .gallery-item {
    text-align: center;
}

.gallery-columns-4 .gallery-item {
    max-width: 23%;
    max-width: -webkit-calc(25% - 4px);
    max-width: calc(25% - 4px);
}

.gallery-columns-5 .gallery-item {
    max-width: 19%;
    max-width: -webkit-calc(20% - 4px);
    max-width: calc(20% - 4px);
}

.gallery-columns-6 .gallery-item {
    max-width: 15%;
    max-width: -webkit-calc(16.7% - 4px);
    max-width: calc(16.7% - 4px);
}

.gallery-columns-7 .gallery-item {
    max-width: 13%;
    max-width: -webkit-calc(14.28% - 4px);
    max-width: calc(14.28% - 4px);
}

.gallery-columns-8 .gallery-item {
    max-width: 11%;
    max-width: -webkit-calc(12.5% - 4px);
    max-width: calc(12.5% - 4px);
}

.gallery-columns-9 .gallery-item {
    max-width: 9%;
    max-width: -webkit-calc(11.1% - 4px);
    max-width: calc(11.1% - 4px);
}

.gallery-columns-1 .gallery-item:nth-of-type(1n),
.gallery-columns-2 .gallery-item:nth-of-type(2n),
.gallery-columns-3 .gallery-item:nth-of-type(3n),
.gallery-columns-4 .gallery-item:nth-of-type(4n),
.gallery-columns-5 .gallery-item:nth-of-type(5n),
.gallery-columns-6 .gallery-item:nth-of-type(6n),
.gallery-columns-7 .gallery-item:nth-of-type(7n),
.gallery-columns-8 .gallery-item:nth-of-type(8n),
.gallery-columns-9 .gallery-item:nth-of-type(9n) {
    margin-right: 0;
}

.gallery-columns-1.gallery-size-medium figure.gallery-item:nth-of-type(1n+1),
.gallery-columns-1.gallery-size-thumbnail figure.gallery-item:nth-of-type(1n+1),
.gallery-columns-2.gallery-size-thumbnail figure.gallery-item:nth-of-type(2n+1),
.gallery-columns-3.gallery-size-thumbnail figure.gallery-item:nth-of-type(3n+1) {
    clear: left;
}

.gallery-caption {
    background-color: rgba(0, 0, 0, 0.7);
    box-sizing: border-box;
    color: #fff;
    font-size: 14px;
    line-height: 1.3;
    margin: 0;
    max-height: 50%;
    opacity: 0;
    padding: 2px 8px;
    position: absolute;
    bottom: 0;
    left: 0;
    text-align: left;
    -webkit-transition: opacity 400ms ease;
    transition: opacity 400ms ease;
    width: 100%;
}

.gallery-caption:before {
    box-shadow: 0 -10px 15px #000 inset;
    content: "";
    height: 100%;
    min-height: 49px;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
}

.gallery-item:hover .gallery-caption {
    opacity: 1;
}

.gallery-columns-7 .gallery-caption,
.gallery-columns-8 .gallery-caption,
.gallery-columns-9 .gallery-caption {
    display: none;
}

ul.slides {
    padding: 0;
    list-style: none;
    margin: 0 -15px;
    & li {
        display: inline-block;
        max-width: 100%;
        vertical-align: top;
        padding: 0 15px;
        margin-bottom: 30px;
        width: 24.7%;
    }
}

table {
    width: 100%;
    margin-bottom: 15px;
    & tr {
        border: 1px solid $grey;
    }
    & td,
    th {
        padding: 5px 10px;
    }
}

dl {
    margin: 0 20px;
}

dt {
    font-weight: bold;
}

dd {
    margin: 0 0 20px;
}

iframe,
embed {
    max-width: 100%;
}

ul > li > ul > li ul {
    margin-bottom: 8px;
}

.lnr {
    font-family: 'Linearicons-Free' !important;
    font-weight: 300 !important;
}

.stm_carousel_glitch {
    position: absolute !important;
    opacity: 0;
    visibility: hidden;
    &:first-child {
        position: relative !important;
        opacity: 1;
        visibility: visible;
    }
}

@include breakpoint(tabletonly) {
    .vc_row-fluid {
    }
}

.sidebar_position_right:after,
.vc_sidebar_position_right > .wpb_wrapper:after {
    display: none !important;
}

body {
    &:before,
    &:after {
        content: '';
        display: block;
        opacity: 0;
        transition: .3s ease;
    }
}

.stm_preloader_1 {
    height: 100vh;
    padding-bottom: 0 !important;
    overflow: hidden;
    &:after {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #fff;
        opacity: 1;
        z-index: 9999;
    }
    &:before {
        position: absolute;
        top: 50%;
        left: 50%;
        margin-left: -15px;
        margin-top: -15px;
        border: 2px solid rgba(0, 0, 0, .5);
        border-radius: 30px;
        height: 30px;
        width: 30px;
        animation: pulsate 1.5s ease-out;
        animation-iteration-count: infinite;
        opacity: 0;
        z-index: 99999;
    }
}

body.admin-bar {
    .select2-container--open {
        .select2-dropdown--above {
            margin-top: -32px;
        }
        .select2-dropdown--below {
            margin-top: -32px;
        }
    }
}

body.has_envato_iframe {
    .select2-dropdown--below {
        margin-top: -54px;
    }
}

a {
    &.facebook {
        background-color: rgba(59, 89, 152, 1) !important;
    }
    &.twitter {
        background-color: rgba(29, 161, 242, 1) !important;
    }
    &.instagram {
        background-color: rgba(195, 42, 163, 1) !important;
    }
    &.pinterest {
        background-color: rgba(189, 8, 28, 1) !important;
    }
    &.linkedin {
        background-color: rgba(0, 119, 181, 1) !important;
    }
    &.google-plus {
        background-color: rgba(219, 68, 55, 1) !important;
    }
    &.dribbble {
        background-color: rgba(234, 76, 137, 1) !important;
    }
    &.skype {
        background-color: rgba(0, 175, 240, 1) !important;
    }
}

/* UPD SEPT */
@media (max-width: 400px) {
    .course-title-holder {
        padding-right: 5px;
    }
}

@media(max-width: 480px) {
    .woocommerce-MyAccount-navigation ul {
        padding-left: 0;
    }
    .woocommerce-MyAccount-navigation ul li {
        display: block;
    }
}

@media (max-width: 767px) {
    .table-responsive > .table > tbody > tr > td,
    .table-responsive > .table > tbody > tr > th,
    .table-responsive > .table > tfoot > tr > td,
    .table-responsive > .table > tfoot > tr > th,
    .table-responsive > .table > thead > tr > td,
    .table-responsive > .table > thead > tr > th {
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

@media (max-width: 655px) {
    .course_table tr td.number.number-visible.title, .course_table tr td.title {
        padding-left: 20px;
        display: block;
        width: 100%;
    }
    .course_table tr td.stm_badge {
        display: block;
        width: 100%;
        text-align: left;
    }
    .course_table tr td .meta {
        padding-left: 12px;
    }
    .course_table tr td.stm_badge .badge_unit {
        margin-left: 15px;
    }
    .woocommerce-message {
        padding-right: 26px;
    }
    .woocommerce-message .button {
        position: static;
        float: none;
        display: block;
    }
    .woocommerce-message .button:after {
        display: none;
    }
    .shop_table > tbody > tr td.actions {
        padding-left: 15px;
        padding-right: 15px;
    }
    .woocommerce .shop_table.cart .coupon .button {
        display: block;
        margin-top: 15px;
    }
    .woocommerce .shop_table.cart .coupon {
        float: none;
        margin-bottom: 30px;
    }
    .woocommerce .shop_table.cart .button.update-cart {
        float: none;
        margin-bottom: 15px;
    }
}

.tp-caption .icon_in_btn {
    text-align: center !important;
}

@media (max-width: 991px) {
    .overflowed_content .wpb_column .vc_column-inner {
        margin-top: 0 !important;
    }
}

body .vc_row[data-vc-full-width] {
    overflow: visible;
}

body .vc_row[data-vc-full-width].vc_parallax {
    overflow: hidden;
}

.stm_archive_product_inner_unit .stm_archive_product_inner_unit_centered .stm_featured_product_price .price h5 {
    font-weight: normal;
}

.widget_stm_recent_posts span.h6 {
    display: inline !important;
}

.widget_stm_recent_posts .cats_w {
    margin-left: 83px;
}

.woocommerce-variation-availability .in-stock {
    display: block;
    padding: 23px 0 0px;
    font-weight: 700;
    font-size: 14px;
}

.no-results {
    h3 {
        margin-bottom: 40px;
    }
    .widget_search {
        max-width: 500px;
    }
}

.wpb_column[data-stretch] {
    &.vc_column_container {
        > .vc_column-inner {
            background-size: cover;
            background-repeat: no-repeat;
            height: 100%;
        }
    }
}

.wpb_column[data-stretch="left"] {
    &.vc_column_container {
        > .vc_column-inner {
            background-position-x: -15px;
        }
    }
}

.wpb_column[data-stretch="right"] {
    &.vc_column_container {
        > .vc_column-inner {
            background-position-x: 15px;
        }
    }
}