.icon_box p,.stm_icon_box_hover_bottom,.stm_icon_box_hover_left,.stm_icon_box_hover_right,.stm_icon_box_hover_top {
  transition: .3s ease;
}

.icon_box {
  position: relative;
  top: 0;
  padding: 30px 32px 50px;
}

.icon_box .fa-icon-stm_icon_book {
  margin-left: -5px;
}

.icon_box p {
  margin-bottom: 10px;
  opacity: .6;
}

.icon_box.dark a {
  color: #555;
  border: 0;
  text-decoration: none;
}

.icon_box.dark a:hover {
  color: #48a7d4;
  border-color: #48a7d4;
}

.icon_box:hover p {
  opacity: 1;
}

.overflowed_content {
  position: relative;
  z-index: 22;
}

.overflowed_content .icon_box:hover {
  top: -25px;
}

.overflowed_content .icon_box:hover:after {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 25px;
  z-index: 10;
  top: 100%;
  left: 0;
}

.stm_icon_box_hover_top {
  -webkit-transform: translateY(0);
  transform: translateY(0);
}

.stm_icon_box_hover_top:hover {
  -webkit-transform: translateY(-7px);
  transform: translateY(-7px);
}

.stm_icon_box_hover_bottom {
  -webkit-transform: translateY(0);
  transform: translateY(0);
}

.stm_icon_box_hover_bottom:hover {
  -webkit-transform: translateY(7px);
  transform: translateY(7px);
}

.stm_icon_box_hover_right {
  -webkit-transform: translateX(0);
  transform: translateX(0);
}

.stm_icon_box_hover_right:hover {
  -webkit-transform: translateX(7px);
  transform: translateX(7px);
}

.stm_icon_box_hover_left {
  -webkit-transform: translateX(0);
  transform: translateX(0);
}

.stm_icon_box_hover_left:hover {
  -webkit-transform: translateX(-7px);
  transform: translateX(-7px);
}

@media (max-width:1023px) {
  .icon_box .icon_text p {
    font-size: 16px;
  }
}
/*# sourceMappingURL=../sourcemap/style_1.css.map */
